 # Hyperparameter Tuning - Feature engineering

![nohayjupytersingif](https://media.giphy.com/media/jeDM590qtCP9C/giphy.gif)

<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Feature-engineering" data-toc-modified-id="Feature-engineering-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Feature engineering</a></span></li><li><span><a href="#Peque침a-exploraci칩n-de-los-datos" data-toc-modified-id="Peque침a-exploraci칩n-de-los-datos-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>Peque침a exploraci칩n de los datos</a></span><ul class="toc-item"><li><span><a href="#Nos-fijamos-en-la-feature-&quot;Cabin&quot;" data-toc-modified-id="Nos-fijamos-en-la-feature-&quot;Cabin&quot;-2.1"><span class="toc-item-num">2.1&nbsp;&nbsp;</span>Nos fijamos en la feature "Cabin"</a></span></li><li><span><a href="#Analizamos-los-nombres-de-los-pasajeros" data-toc-modified-id="Analizamos-los-nombres-de-los-pasajeros-2.2"><span class="toc-item-num">2.2&nbsp;&nbsp;</span>Analizamos los nombres de los pasajeros</a></span></li><li><span><a href="#Para-no-tener-muchas-categor칤as-con-los-t칤tulos,-vamos-a-quedarnos-con-los-que-tienen-m치s-de-10" data-toc-modified-id="Para-no-tener-muchas-categor칤as-con-los-t칤tulos,-vamos-a-quedarnos-con-los-que-tienen-m치s-de-10-2.3"><span class="toc-item-num">2.3&nbsp;&nbsp;</span>Para no tener muchas categor칤as con los t칤tulos, vamos a quedarnos con los que tienen m치s de 10</a></span></li></ul></li><li><span><a href="#Categorical-encoding" data-toc-modified-id="Categorical-encoding-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>Categorical encoding</a></span><ul class="toc-item"><li><span><a href="#Label-Encoder" data-toc-modified-id="Label-Encoder-3.1"><span class="toc-item-num">3.1&nbsp;&nbsp;</span>Label Encoder</a></span></li><li><span><a href="#One-Hot-Encoder" data-toc-modified-id="One-Hot-Encoder-3.2"><span class="toc-item-num">3.2&nbsp;&nbsp;</span>One Hot Encoder</a></span></li><li><span><a href="#A-mano-con-un-diccionario-游눠" data-toc-modified-id="A-mano-con-un-diccionario-游눠-3.3"><span class="toc-item-num">3.3&nbsp;&nbsp;</span>A mano con un diccionario 游눠</a></span></li></ul></li><li><span><a href="#Feature-Scaling" data-toc-modified-id="Feature-Scaling-4"><span class="toc-item-num">4&nbsp;&nbsp;</span>Feature Scaling</a></span><ul class="toc-item"><li><span><a href="#Estandarizaci칩n" data-toc-modified-id="Estandarizaci칩n-4.1"><span class="toc-item-num">4.1&nbsp;&nbsp;</span>Estandarizaci칩n</a></span></li><li><span><a href="#Normalizaci칩n" data-toc-modified-id="Normalizaci칩n-4.2"><span class="toc-item-num">4.2&nbsp;&nbsp;</span>Normalizaci칩n</a></span></li><li><span><a href="#Cito-a-Andriy-Burkov:" data-toc-modified-id="Cito-a-Andriy-Burkov:-4.3"><span class="toc-item-num">4.3&nbsp;&nbsp;</span>Cito a Andriy Burkov:</a></span></li></ul></li><li><span><a href="#Resumen-hasta-aqu칤" data-toc-modified-id="Resumen-hasta-aqu칤-5"><span class="toc-item-num">5&nbsp;&nbsp;</span>Resumen hasta aqu칤</a></span></li><li><span><a href="#Repasamos-Train-Test-Split" data-toc-modified-id="Repasamos-Train-Test-Split-6"><span class="toc-item-num">6&nbsp;&nbsp;</span>Repasamos Train Test Split</a></span></li><li><span><a href="#Ajuste-de-hiperpar치metros" data-toc-modified-id="Ajuste-de-hiperpar치metros-7"><span class="toc-item-num">7&nbsp;&nbsp;</span>Ajuste de hiperpar치metros</a></span><ul class="toc-item"><li><span><a href="#--Muestreo-aleatorio" data-toc-modified-id="--Muestreo-aleatorio-7.1"><span class="toc-item-num">7.1&nbsp;&nbsp;</span>- Muestreo aleatorio</a></span></li><li><span><a href="#--Muestreo-de-cuadr칤cula" data-toc-modified-id="--Muestreo-de-cuadr칤cula-7.2"><span class="toc-item-num">7.2&nbsp;&nbsp;</span>- Muestreo de cuadr칤cula</a></span></li><li><span><a href="#--Muestreo-bayesiano" data-toc-modified-id="--Muestreo-bayesiano-7.3"><span class="toc-item-num">7.3&nbsp;&nbsp;</span>- Muestreo bayesiano</a></span></li><li><span><a href="#GridSearchCV-de-sklearn,-춰saludad-a-vuestro-nuevo-amigo!" data-toc-modified-id="GridSearchCV-de-sklearn,-춰saludad-a-vuestro-nuevo-amigo!-7.4"><span class="toc-item-num">7.4&nbsp;&nbsp;</span>GridSearchCV de sklearn, 춰saludad a vuestro nuevo amigo!</a></span></li><li><span><a href="#Entrenar칤amos-el-modelo-con-los-mejores-par치metros" data-toc-modified-id="Entrenar칤amos-el-modelo-con-los-mejores-par치metros-7.5"><span class="toc-item-num">7.5&nbsp;&nbsp;</span>Entrenar칤amos el modelo con los mejores par치metros</a></span></li></ul></li><li><span><a href="#Salvar-/-Exprotar-el-modelo" data-toc-modified-id="Salvar-/-Exprotar-el-modelo-8"><span class="toc-item-num">8&nbsp;&nbsp;</span>Salvar / Exprotar el modelo</a></span></li></ul></div>

##Feature engineering
Es el proceso de utilizar el conocimiento del dominio para extraer caracter칤sticas de los datos brutos. Estas caracter칤sticas pueden utilizarse para mejorar el rendimiento de los algoritmos de aprendizaje autom치tico. La ingenier칤a de caracter칤sticas puede considerarse como un aprendizaje autom치tico aplicado en s칤 mismo

In [4]:
import pandas as pd

In [5]:
data = pd.read_csv("../datasets/titanic.csv")
data.head()

,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

##Peque침a exploraci칩n de los datos

In [7]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 11 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Survived  891 non-null    int64
 1   Pclass    891 non-null    int64
 2   Name      891 non-null    object
 3   Sex       891 non-null    object
 4   Age       714 non-null    float64
 5   SibSp     891 non-null    int64
 6   Parch     891 non-null    int64
 7   Ticket    891 non-null    object
 8   Fare      891 non-null    float64
 9   Cabin     204 non-null    object
 10  Embarked  889 non-null    object
dtypes: float64(2), int64(4), object(5)
memory usage: 76.7+ KB

In [8]:
data.describe()

         Survived      Pclass         Age       SibSp       Parch        Fare
count  891.000000  891.000000  714.000000  891.000000  891.000000  891.000000
mean     0.383838    2.308642   29.699118    0.523008    0.381594   32.204208
std      0.486592    0.836071   14.526497    1.102743    0.806057   49.693429
min      0.000000    1.000000    0.420000    0.000000    0.000000    0.000000
25%      0.000000    2.000000   20.125000    0.000000    0.000000    7.910400
50%      0.000000    3.000000   28.000000    0.000000    0.000000   14.454200
75%      1.000000    3.000000   38.000000    1.000000    0.000000   31.000000
max      1.000000    3.000000   80.000000    8.000000    6.000000  512.329200

In [10]:
data.dtypes

Survived      int64
Pclass        int64
Name         object
Sex          object
Age         float64
SibSp         int64
Parch         int64
Ticket       object
Fare        float64
Cabin        object
Embarked     object
dtype: object

In [12]:
data.isnull().sum()

Survived      0
Pclass        0
Name          0
Sex           0
Age         177
SibSp         0
Parch         0
Ticket        0
Fare          0
Cabin       687
Embarked      2
dtype: int64

In [14]:
data.shape

(891, 11)

In [19]:
round(data.isnull().sum().sort_values(ascending=False)/len(data)*100,2)

Cabin       77.10
Age         19.87
Embarked     0.22
Survived     0.00
Pclass       0.00
Name         0.00
Sex          0.00
SibSp        0.00
Parch        0.00
Ticket       0.00
Fare         0.00
dtype: float64

### Nos fijamos en la feature "Cabin"

In [17]:
data.Cabin.unique()

array([nan, 'C85', 'C123', 'E46', 'G6', 'C103', 'D56', 'A6',
       'C23 C25 C27', 'B78', 'D33', 'B30', 'C52', 'B28', 'C83', 'F33',
       'F G73', 'E31', 'A5', 'D10 D12', 'D26', 'C110', 'B58 B60', 'E101',
       'F E69', 'D47', 'B86', 'F2', 'C2', 'E33', 'B19', 'A7', 'C49', 'F4',
       'A32', 'B4', 'B80', 'A31', 'D36', 'D15', 'C93', 'C78', 'D35',
       'C87', 'B77', 'E67', 'B94', 'C125', 'C99', 'C118', 'D7', 'A19',
       'B49', 'D', 'C22 C26', 'C106', 'C65', 'E36', 'C54',
       'B57 B59 B63 B66', 'C7', 'E34', 'C32', 'B18', 'C124', 'C91', 'E40',
       'T', 'C128', 'D37', 'B35', 'E50', 'C82', 'B96 B98', 'E10', 'E44',
       'A34', 'C104', 'C111', 'C92', 'E38', 'D21', 'E12', 'E63', 'A14',
       'B37', 'C30', 'D20', 'B79', 'E25', 'D46', 'B73', 'C95', 'B38',
       'B39', 'B22', 'C86', 'C70', 'A16', 'C101', 'C68', 'A10', 'E68',
       'B41', 'A20', 'D19', 'D50', 'D9', 'A23', 'B50', 'A26', 'D48',
       'E58', 'C126', 'B71', 'B51 B53 B55', 'D49', 'B5', 'B20', 'F G63',
       'C62 C64', 'E24', 'C90', 'C45', 'E8', 'B101', 'D45', 'C46', 'D30',
       'E121', 'D11', 'E77', 'F38', 'B3', 'D6', 'B82 B84', 'D17', 'A36',
       'B102', 'B69', 'E49', 'C47', 'D28', 'E17', 'A24', 'C50', 'B42',
       'C148'], dtype=object)

In [20]:
data.sample()

,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
713,0,3,"Larsson, Mr. August Viktor",male,29.0,0,0,7545,9.4833,NaN,S

Hay muchos valores que faltan, pero debemos utilizar la variable del camarote porque puede ser un predictor importante. Como se puede ver en la siguiente imagen, la primera clase ten칤a los camarotes en la cubierta A, B o C, una mezcla estaba en la D o la E y la tercera clase estaba principalmente en la f o la g. Podemos identificar la cubierta por la primera letra.

![laimagendelbarco](../images/barco.png)

In [21]:
data.sample()

,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
184,1,3,"Kink-Heilmann, Miss. Luise Gretchen",female,4.0,0,2,315153,22.025,NaN,S

In [22]:
data["deck"] = data["Cabin"].apply(lambda x: x[0] if pd.notnull(x) else "M")

In [27]:
data.sample(2)

,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,deck
310,1,1,"Hays, Miss. Margaret Bechstein",female,24.0,0,0,11767,83.1583,C54,C,C
884,0,3,"Sutehall, Mr. Henry Jr",male,25.0,0,0,SOTON/OQ 392076,7.0500,NaN,S,M

###ㅁnalizamos los nombres de los pasajeros

El nombre podr칤aa aportarnos informaci칩n importante sobre el estatus socioecon칩mico de un pasajero. Y en funci칩n del estatus socioecon칩mico han podido comprar un billete m치s caro o m치s barato, que indica un camarote situado en uno u otro lugar del barco. Podemos responder a la pregunta de si alguien est치 casado o no o si tiene un t칤tulo formal y extraer esa informaci칩n para generar una nueva variable.

In [31]:
data.Name.unique()

array(['Braund, Mr. Owen Harris',
       'Cumings, Mrs. John Bradley (Florence Briggs Thayer)',
       'Heikkinen, Miss. Laina',
       'Futrelle, Mrs. Jacques Heath (Lily May Peel)',
       'Allen, Mr. William Henry', 'Moran, Mr. James',
       'McCarthy, Mr. Timothy J', 'Palsson, Master. Gosta Leonard',
       'Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)',
       'Nasser, Mrs. Nicholas (Adele Achem)',
       'Sandstrom, Miss. Marguerite Rut', 'Bonnell, Miss. Elizabeth',
       'Saundercock, Mr. William Henry', 'Andersson, Mr. Anders Johan',
       'Vestrom, Miss. Hulda Amanda Adolfina',
       'Hewlett, Mrs. (Mary D Kingcome) ', 'Rice, Master. Eugene',
       'Williams, Mr. Charles Eugene',
       'Vander Planke, Mrs. Julius (Emelia Maria Vandemoortele)',
       'Masselmani, Mrs. Fatima', 'Fynney, Mr. Joseph J',
       'Beesley, Mr. Lawrence', 'McGowan, Miss. Anna "Annie"',
       'Sloper, Mr. William Thompson', 'Palsson, Miss. Torborg Danira',
       'Asplund, Mrs. Carl Oscar (Selma Augusta Emilia Johansson)',
       'Emir, Mr. Farred Chehab', 'Fortune, Mr. Charles Alexander',
       'O\'Dwyer, Miss. Ellen "Nellie"', 'Todoroff, Mr. Lalio',
       'Uruchurtu, Don. Manuel E',
       'Spencer, Mrs. William Augustus (Marie Eugenie)',
       'Glynn, Miss. Mary Agatha', 'Wheadon, Mr. Edward H',
       'Meyer, Mr. Edgar Joseph', 'Holverson, Mr. Alexander Oskar',
       'Mamee, Mr. Hanna', 'Cann, Mr. Ernest Charles',
       'Vander Planke, Miss. Augusta Maria',
       'Nicola-Yarred, Miss. Jamila',
       'Ahlin, Mrs. Johan (Johanna Persdotter Larsson)',
       'Turpin, Mrs. William John Robert (Dorothy Ann Wonnacott)',
       'Kraeff, Mr. Theodor', 'Laroche, Miss. Simonne Marie Anne Andree',
       'Devaney, Miss. Margaret Delia', 'Rogers, Mr. William John',
       'Lennon, Mr. Denis', "O'Driscoll, Miss. Bridget",
       'Samaan, Mr. Youssef',
       'Arnold-Franchi, Mrs. Josef (Josefine Franchi)',
       'Panula, Master. Juha Niilo', 'Nosworthy, Mr. Richard Cater',
       'Harper, Mrs. Henry Sleeper (Myna Haxtun)',
       'Faunthorpe, Mrs. Lizzie (Elizabeth Anne Wilkinson)',
       'Ostby, Mr. Engelhart Cornelius', 'Woolner, Mr. Hugh',
       'Rugg, Miss. Emily', 'Novel, Mr. Mansouer',
       'West, Miss. Constance Mirium',
       'Goodwin, Master. William Frederick', 'Sirayanian, Mr. Orsen',
       'Icard, Miss. Amelie', 'Harris, Mr. Henry Birkhardt',
       'Skoog, Master. Harald', 'Stewart, Mr. Albert A',
       'Moubarek, Master. Gerios', 'Nye, Mrs. (Elizabeth Ramell)',
       'Crease, Mr. Ernest James', 'Andersson, Miss. Erna Alexandra',
       'Kink, Mr. Vincenz', 'Jenkin, Mr. Stephen Curnow',
       'Goodwin, Miss. Lillian Amy', 'Hood, Mr. Ambrose Jr',
       'Chronopoulos, Mr. Apostolos', 'Bing, Mr. Lee',
       'Moen, Mr. Sigurd Hansen', 'Staneff, Mr. Ivan',
       'Moutal, Mr. Rahamin Haim', 'Caldwell, Master. Alden Gates',
       'Dowdell, Miss. Elizabeth', 'Waelens, Mr. Achille',
       'Sheerlinck, Mr. Jan Baptist', 'McDermott, Miss. Brigdet Delia',
       'Carrau, Mr. Francisco M', 'Ilett, Miss. Bertha',
       'Backstrom, Mrs. Karl Alfred (Maria Mathilda Gustafsson)',
       'Ford, Mr. William Neal', 'Slocovski, Mr. Selman Francis',
       'Fortune, Miss. Mabel Helen', 'Celotti, Mr. Francesco',
       'Christmann, Mr. Emil', 'Andreasson, Mr. Paul Edvin',
       'Chaffee, Mr. Herbert Fuller', 'Dean, Mr. Bertram Frank',
       'Coxon, Mr. Daniel', 'Shorney, Mr. Charles Joseph',
       'Goldschmidt, Mr. George B', 'Greenfield, Mr. William Bertram',
       'Doling, Mrs. John T (Ada Julia Bone)', 'Kantor, Mr. Sinai',
       'Petranec, Miss. Matilda', 'Petroff, Mr. Pastcho ("Pentcho")',
       'White, Mr. Richard Frasar', 'Johansson, Mr. Gustaf Joel',
       'Gustafsson, Mr. Anders Vilhelm', 'Mionoff, Mr. Stoytcho',
       'Salkjelsvik, Miss. Anna Kristine', 'Moss, Mr. Albert Johan',
       'Rekic, Mr. Tido', 'Moran, Miss. Bertha',
       'Porter, Mr. Walter Chamberlain', 'Zabour, Miss. Hileni',
       'Barton, Mr. David John', 'Jussila, Miss. Katriina',
       'Attalah, Miss. Malake', 'Pekoniemi, Mr. Edvard',
       'Connors, Mr. Patrick', 'Turpin, Mr. William John Robert',
       'Baxter, Mr. Quigg Edmond', 'Andersson, Miss. Ellis Anna Maria',
       'Hickman, Mr. Stanley George', 'Moore, Mr. Leonard Charles',
       'Nasser, Mr. Nicholas', 'Webber, Miss. Susan',
       'White, Mr. Percival Wayland', 'Nicola-Yarred, Master. Elias',
       'McMahon, Mr. Martin', 'Madsen, Mr. Fridtjof Arne',
       'Peter, Miss. Anna', 'Ekstrom, Mr. Johan', 'Drazenoic, Mr. Jozef',
       'Coelho, Mr. Domingos Fernandeo',
       'Robins, Mrs. Alexander A (Grace Charity Laury)',
       'Weisz, Mrs. Leopold (Mathilde Francoise Pede)',
       'Sobey, Mr. Samuel James Hayden', 'Richard, Mr. Emile',
       'Newsom, Miss. Helen Monypeny', 'Futrelle, Mr. Jacques Heath',
       'Osen, Mr. Olaf Elon', 'Giglio, Mr. Victor',
       'Boulos, Mrs. Joseph (Sultana)', 'Nysten, Miss. Anna Sofia',
       'Hakkarainen, Mrs. Pekka Pietari (Elin Matilda Dolck)',
       'Burke, Mr. Jeremiah', 'Andrew, Mr. Edgardo Samuel',
       'Nicholls, Mr. Joseph Charles',
       'Andersson, Mr. August Edvard ("Wennerstrom")',
       'Ford, Miss. Robina Maggie "Ruby"',
       'Navratil, Mr. Michel ("Louis M Hoffman")',
       'Byles, Rev. Thomas Roussel Davids', 'Bateman, Rev. Robert James',
       'Pears, Mrs. Thomas (Edith Wearne)', 'Meo, Mr. Alfonzo',
       'van Billiard, Mr. Austin Blyler', 'Olsen, Mr. Ole Martin',
       'Williams, Mr. Charles Duane', 'Gilnagh, Miss. Katherine "Katie"',
       'Corn, Mr. Harry', 'Smiljanic, Mr. Mile',
       'Sage, Master. Thomas Henry', 'Cribb, Mr. John Hatfield',
       'Watt, Mrs. James (Elizabeth "Bessie" Inglis Milne)',
       'Bengtsson, Mr. John Viktor', 'Calic, Mr. Jovo',
       'Panula, Master. Eino Viljami',
       'Goldsmith, Master. Frank John William "Frankie"',
       'Chibnall, Mrs. (Edith Martha Bowerman)',
       'Skoog, Mrs. William (Anna Bernhardina Karlsson)',
       'Baumann, Mr. John D', 'Ling, Mr. Lee',
       'Van der hoef, Mr. Wyckoff', 'Rice, Master. Arthur',
       'Johnson, Miss. Eleanor Ileen', 'Sivola, Mr. Antti Wilhelm',
       'Smith, Mr. James Clinch', 'Klasen, Mr. Klas Albin',
       'Lefebre, Master. Henry Forbes', 'Isham, Miss. Ann Elizabeth',
       'Hale, Mr. Reginald', 'Leonard, Mr. Lionel',
       'Sage, Miss. Constance Gladys', 'Pernot, Mr. Rene',
       'Asplund, Master. Clarence Gustaf Hugo',
       'Becker, Master. Richard F', 'Kink-Heilmann, Miss. Luise Gretchen',
       'Rood, Mr. Hugh Roscoe',
       'O\'Brien, Mrs. Thomas (Johanna "Hannah" Godfrey)',
       'Romaine, Mr. Charles Hallace ("Mr C Rolmane")',
       'Bourke, Mr. John', 'Turcin, Mr. Stjepan', 'Pinsky, Mrs. (Rosa)',
       'Carbines, Mr. William',
       'Andersen-Jensen, Miss. Carla Christine Nielsine',
       'Navratil, Master. Michel M',
       'Brown, Mrs. James Joseph (Margaret Tobin)',
       'Lurette, Miss. Elise', 'Mernagh, Mr. Robert',
       'Olsen, Mr. Karl Siegwart Andreas',
       'Madigan, Miss. Margaret "Maggie"',
       'Yrois, Miss. Henriette ("Mrs Harbeck")',
       'Vande Walle, Mr. Nestor Cyriel', 'Sage, Mr. Frederick',
       'Johanson, Mr. Jakob Alfred', 'Youseff, Mr. Gerious',
       'Cohen, Mr. Gurshon "Gus"', 'Strom, Miss. Telma Matilda',
       'Backstrom, Mr. Karl Alfred', 'Albimona, Mr. Nassef Cassem',
       'Carr, Miss. Helen "Ellen"', 'Blank, Mr. Henry', 'Ali, Mr. Ahmed',
       'Cameron, Miss. Clear Annie', 'Perkin, Mr. John Henry',
       'Givard, Mr. Hans Kristensen', 'Kiernan, Mr. Philip',
       'Newell, Miss. Madeleine', 'Honkanen, Miss. Eliina',
       'Jacobsohn, Mr. Sidney Samuel', 'Bazzani, Miss. Albina',
       'Harris, Mr. Walter', 'Sunderland, Mr. Victor Francis',
       'Bracken, Mr. James H', 'Green, Mr. George Henry',
       'Nenkoff, Mr. Christo', 'Hoyt, Mr. Frederick Maxfield',
       'Berglund, Mr. Karl Ivar Sven', 'Mellors, Mr. William John',
       'Lovell, Mr. John Hall ("Henry")', 'Fahlstrom, Mr. Arne Jonas',
       'Lefebre, Miss. Mathilde',
       'Harris, Mrs. Henry Birkhardt (Irene Wallach)',
       'Larsson, Mr. Bengt Edvin', 'Sjostedt, Mr. Ernst Adolf',
       'Asplund, Miss. Lillian Gertrud',
       'Leyson, Mr. Robert William Norman',
       'Harknett, Miss. Alice Phoebe', 'Hold, Mr. Stephen',
       'Collyer, Miss. Marjorie "Lottie"',
       'Pengelly, Mr. Frederick William', 'Hunt, Mr. George Henry',
       'Zabour, Miss. Thamine', 'Murphy, Miss. Katherine "Kate"',
       'Coleridge, Mr. Reginald Charles', 'Maenpaa, Mr. Matti Alexanteri',
       'Attalah, Mr. Sleiman', 'Minahan, Dr. William Edward',
       'Lindahl, Miss. Agda Thorilda Viktoria',
       'Hamalainen, Mrs. William (Anna)', 'Beckwith, Mr. Richard Leonard',
       'Carter, Rev. Ernest Courtenay', 'Reed, Mr. James George',
       'Strom, Mrs. Wilhelm (Elna Matilda Persson)',
       'Stead, Mr. William Thomas', 'Lobb, Mr. William Arthur',
       'Rosblom, Mrs. Viktor (Helena Wilhelmina)',
       'Touma, Mrs. Darwis (Hanne Youssef Razi)',
       'Thorne, Mrs. Gertrude Maybelle', 'Cherry, Miss. Gladys',
       'Ward, Miss. Anna', 'Parrish, Mrs. (Lutie Davis)',
       'Smith, Mr. Thomas', 'Asplund, Master. Edvin Rojj Felix',
       'Taussig, Mr. Emil', 'Harrison, Mr. William', 'Henry, Miss. Delia',
       'Reeves, Mr. David', 'Panula, Mr. Ernesti Arvid',
       'Persson, Mr. Ernst Ulrik',
       'Graham, Mrs. William Thompson (Edith Junkins)',
       'Bissette, Miss. Amelia', 'Cairns, Mr. Alexander',
       'Tornquist, Mr. William Henry',
       'Mellinger, Mrs. (Elizabeth Anne Maidment)',
       'Natsch, Mr. Charles H', 'Healy, Miss. Hanora "Nora"',
       'Andrews, Miss. Kornelia Theodosia',
       'Lindblom, Miss. Augusta Charlotta', 'Parkes, Mr. Francis "Frank"',
       'Rice, Master. Eric', 'Abbott, Mrs. Stanton (Rosa Hunt)',
       'Duane, Mr. Frank', 'Olsson, Mr. Nils Johan Goransson',
       'de Pelsmaeker, Mr. Alfons', 'Dorking, Mr. Edward Arthur',
       'Smith, Mr. Richard William', 'Stankovic, Mr. Ivan',
       'de Mulder, Mr. Theodore', 'Naidenoff, Mr. Penko',
       'Hosono, Mr. Masabumi', 'Connolly, Miss. Kate',
       'Barber, Miss. Ellen "Nellie"',
       'Bishop, Mrs. Dickinson H (Helen Walton)',
       'Levy, Mr. Rene Jacques', 'Haas, Miss. Aloisia',
       'Mineff, Mr. Ivan', 'Lewy, Mr. Ervin G', 'Hanna, Mr. Mansour',
       'Allison, Miss. Helen Loraine', 'Saalfeld, Mr. Adolphe',
       'Baxter, Mrs. James (Helene DeLaudeniere Chaput)',
       'Kelly, Miss. Anna Katherine "Annie Kate"', 'McCoy, Mr. Bernard',
       'Johnson, Mr. William Cahoone Jr', 'Keane, Miss. Nora A',
       'Williams, Mr. Howard Hugh "Harry"',
       'Allison, Master. Hudson Trevor', 'Fleming, Miss. Margaret',
       'Penasco y Castellana, Mrs. Victor de Satode (Maria Josefa Perez de Soto y Vallejo)',
       'Abelson, Mr. Samuel', 'Francatelli, Miss. Laura Mabel',
       'Hays, Miss. Margaret Bechstein', 'Ryerson, Miss. Emily Borie',
       'Lahtinen, Mrs. William (Anna Sylfven)', 'Hendekovic, Mr. Ignjac',
       'Hart, Mr. Benjamin', 'Nilsson, Miss. Helmina Josefina',
       'Kantor, Mrs. Sinai (Miriam Sternin)', 'Moraweck, Dr. Ernest',
       'Wick, Miss. Mary Natalie',
       'Spedden, Mrs. Frederic Oakley (Margaretta Corning Stone)',
       'Dennis, Mr. Samuel', 'Danoff, Mr. Yoto',
       'Slayter, Miss. Hilda Mary',
       'Caldwell, Mrs. Albert Francis (Sylvia Mae Harbaugh)',
       'Sage, Mr. George John Jr', 'Young, Miss. Marie Grice',
       'Nysveen, Mr. Johan Hansen', 'Ball, Mrs. (Ada E Hall)',
       'Goldsmith, Mrs. Frank John (Emily Alice Brown)',
       'Hippach, Miss. Jean Gertrude', 'McCoy, Miss. Agnes',
       'Partner, Mr. Austen', 'Graham, Mr. George Edward',
       'Vander Planke, Mr. Leo Edmondus',
       'Frauenthal, Mrs. Henry William (Clara Heinsheimer)',
       'Denkoff, Mr. Mitto', 'Pears, Mr. Thomas Clinton',
       'Burns, Miss. Elizabeth Margaret', 'Dahl, Mr. Karl Edwart',
       'Blackwell, Mr. Stephen Weart', 'Navratil, Master. Edmond Roger',
       'Fortune, Miss. Alice Elizabeth', 'Collander, Mr. Erik Gustaf',
       'Sedgwick, Mr. Charles Frederick Waddington',
       'Fox, Mr. Stanley Hubert', 'Brown, Miss. Amelia "Mildred"',
       'Smith, Miss. Marion Elsie',
       'Davison, Mrs. Thomas Henry (Mary E Finck)',
       'Coutts, Master. William Loch "William"', 'Dimic, Mr. Jovan',
       'Odahl, Mr. Nils Martin', 'Williams-Lambert, Mr. Fletcher Fellows',
       'Elias, Mr. Tannous', 'Arnold-Franchi, Mr. Josef',
       'Yousif, Mr. Wazli', 'Vanden Steen, Mr. Leo Peter',
       'Bowerman, Miss. Elsie Edith', 'Funk, Miss. Annie Clemmer',
       'McGovern, Miss. Mary', 'Mockler, Miss. Helen Mary "Ellie"',
       'Skoog, Mr. Wilhelm', 'del Carlo, Mr. Sebastiano',
       'Barbara, Mrs. (Catherine David)', 'Asim, Mr. Adola',
       "O'Brien, Mr. Thomas", 'Adahl, Mr. Mauritz Nils Martin',
       'Warren, Mrs. Frank Manley (Anna Sophia Atkinson)',
       'Moussa, Mrs. (Mantoura Boulos)', 'Jermyn, Miss. Annie',
       'Aubart, Mme. Leontine Pauline', 'Harder, Mr. George Achilles',
       'Wiklund, Mr. Jakob Alfred', 'Beavan, Mr. William Thomas',
       'Ringhini, Mr. Sante', 'Palsson, Miss. Stina Viola',
       'Meyer, Mrs. Edgar Joseph (Leila Saks)',
       'Landergren, Miss. Aurora Adelia', 'Widener, Mr. Harry Elkins',
       'Betros, Mr. Tannous', 'Gustafsson, Mr. Karl Gideon',
       'Bidois, Miss. Rosalie', 'Nakid, Miss. Maria ("Mary")',
       'Tikkanen, Mr. Juho',
       'Holverson, Mrs. Alexander Oskar (Mary Aline Towner)',
       'Plotcharsky, Mr. Vasil', 'Davies, Mr. Charles Henry',
       'Goodwin, Master. Sidney Leonard', 'Buss, Miss. Kate',
       'Sadlier, Mr. Matthew', 'Lehmann, Miss. Bertha',
       'Carter, Mr. William Ernest', 'Jansson, Mr. Carl Olof',
       'Gustafsson, Mr. Johan Birger', 'Newell, Miss. Marjorie',
       'Sandstrom, Mrs. Hjalmar (Agnes Charlotta Bengtsson)',
       'Johansson, Mr. Erik', 'Olsson, Miss. Elina',
       'McKane, Mr. Peter David', 'Pain, Dr. Alfred',
       'Trout, Mrs. William H (Jessie L)', 'Niskanen, Mr. Juha',
       'Adams, Mr. John', 'Jussila, Miss. Mari Aina',
       'Hakkarainen, Mr. Pekka Pietari', 'Oreskovic, Miss. Marija',
       'Gale, Mr. Shadrach', 'Widegren, Mr. Carl/Charles Peter',
       'Richards, Master. William Rowe',
       'Birkeland, Mr. Hans Martin Monsen', 'Lefebre, Miss. Ida',
       'Sdycoff, Mr. Todor', 'Hart, Mr. Henry', 'Minahan, Miss. Daisy E',
       'Cunningham, Mr. Alfred Fleming', 'Sundman, Mr. Johan Julian',
       'Meek, Mrs. Thomas (Annie Louise Rowley)',
       'Drew, Mrs. James Vivian (Lulu Thorne Christian)',
       'Silven, Miss. Lyyli Karoliina', 'Matthews, Mr. William John',
       'Van Impe, Miss. Catharina', 'Gheorgheff, Mr. Stanio',
       'Charters, Mr. David', 'Zimmerman, Mr. Leo',
       'Danbom, Mrs. Ernst Gilbert (Anna Sigrid Maria Brogren)',
       'Rosblom, Mr. Viktor Richard', 'Wiseman, Mr. Phillippe',
       'Clarke, Mrs. Charles V (Ada Maria Winfield)',
       'Phillips, Miss. Kate Florence ("Mrs Kate Louise Phillips Marshall")',
       'Flynn, Mr. James', 'Pickard, Mr. Berk (Berk Trembisky)',
       'Bjornstrom-Steffansson, Mr. Mauritz Hakan',
       'Thorneycroft, Mrs. Percival (Florence Kate White)',
       'Louch, Mrs. Charles Alexander (Alice Adelaide Slow)',
       'Kallio, Mr. Nikolai Erland', 'Silvey, Mr. William Baird',
       'Carter, Miss. Lucile Polk',
       'Ford, Miss. Doolina Margaret "Daisy"',
       'Richards, Mrs. Sidney (Emily Hocking)', 'Fortune, Mr. Mark',
       'Kvillner, Mr. Johan Henrik Johannesson',
       'Hart, Mrs. Benjamin (Esther Ada Bloomfield)', 'Hampe, Mr. Leon',
       'Petterson, Mr. Johan Emil', 'Reynaldo, Ms. Encarnacion',
       'Johannesen-Bratthammer, Mr. Bernt', 'Dodge, Master. Washington',
       'Mellinger, Miss. Madeleine Violet', 'Seward, Mr. Frederic Kimber',
       'Baclini, Miss. Marie Catherine', 'Peuchen, Major. Arthur Godfrey',
       'West, Mr. Edwy Arthur', 'Hagland, Mr. Ingvald Olai Olsen',
       'Foreman, Mr. Benjamin Laventall', 'Goldenberg, Mr. Samuel L',
       'Peduzzi, Mr. Joseph', 'Jalsevac, Mr. Ivan',
       'Millet, Mr. Francis Davis', 'Kenyon, Mrs. Frederick R (Marion)',
       'Toomey, Miss. Ellen', "O'Connor, Mr. Maurice",
       'Anderson, Mr. Harry', 'Morley, Mr. William', 'Gee, Mr. Arthur H',
       'Milling, Mr. Jacob Christian', 'Maisner, Mr. Simon',
       'Goncalves, Mr. Manuel Estanslas', 'Campbell, Mr. William',
       'Smart, Mr. John Montgomery', 'Scanlan, Mr. James',
       'Baclini, Miss. Helene Barbara', 'Keefe, Mr. Arthur',
       'Cacic, Mr. Luka', 'West, Mrs. Edwy Arthur (Ada Mary Worth)',
       'Jerwan, Mrs. Amin S (Marie Marthe Thuillard)',
       'Strandberg, Miss. Ida Sofia', 'Clifford, Mr. George Quincy',
       'Renouf, Mr. Peter Henry', 'Braund, Mr. Lewis Richard',
       'Karlsson, Mr. Nils August', 'Hirvonen, Miss. Hildur E',
       'Goodwin, Master. Harold Victor',
       'Frost, Mr. Anthony Wood "Archie"', 'Rouse, Mr. Richard Henry',
       'Turkula, Mrs. (Hedwig)', 'Bishop, Mr. Dickinson H',
       'Lefebre, Miss. Jeannie',
       'Hoyt, Mrs. Frederick Maxfield (Jane Anne Forby)',
       'Kent, Mr. Edward Austin', 'Somerton, Mr. Francis William',
       'Coutts, Master. Eden Leslie "Neville"',
       'Hagland, Mr. Konrad Mathias Reiersen', 'Windelov, Mr. Einar',
       'Molson, Mr. Harry Markland', 'Artagaveytia, Mr. Ramon',
       'Stanley, Mr. Edward Roland', 'Yousseff, Mr. Gerious',
       'Eustis, Miss. Elizabeth Mussey',
       'Shellard, Mr. Frederick William',
       'Allison, Mrs. Hudson J C (Bessie Waldo Daniels)',
       'Svensson, Mr. Olof', 'Calic, Mr. Petar', 'Canavan, Miss. Mary',
       "O'Sullivan, Miss. Bridget Mary", 'Laitinen, Miss. Kristina Sofia',
       'Maioni, Miss. Roberta',
       'Penasco y Castellana, Mr. Victor de Satode',
       'Quick, Mrs. Frederick Charles (Jane Richards)',
       'Bradley, Mr. George ("George Arthur Brayton")',
       'Olsen, Mr. Henry Margido', 'Lang, Mr. Fang',
       'Daly, Mr. Eugene Patrick', 'Webber, Mr. James',
       'McGough, Mr. James Robert',
       'Rothschild, Mrs. Martin (Elizabeth L. Barrett)',
       'Coleff, Mr. Satio', 'Walker, Mr. William Anderson',
       'Lemore, Mrs. (Amelia Milley)', 'Ryan, Mr. Patrick',
       'Angle, Mrs. William A (Florence "Mary" Agnes Hughes)',
       'Pavlovic, Mr. Stefo', 'Perreault, Miss. Anne', 'Vovk, Mr. Janko',
       'Lahoud, Mr. Sarkis',
       'Hippach, Mrs. Louis Albert (Ida Sophia Fischer)',
       'Kassem, Mr. Fared', 'Farrell, Mr. James', 'Ridsdale, Miss. Lucy',
       'Farthing, Mr. John', 'Salonen, Mr. Johan Werner',
       'Hocking, Mr. Richard George', 'Quick, Miss. Phyllis May',
       'Toufik, Mr. Nakli', 'Elias, Mr. Joseph Jr',
       'Peter, Mrs. Catherine (Catherine Rizk)', 'Cacic, Miss. Marija',
       'Hart, Miss. Eva Miriam', 'Butt, Major. Archibald Willingham',
       'LeRoy, Miss. Bertha', 'Risien, Mr. Samuel Beard',
       'Frolicher, Miss. Hedwig Margaritha', 'Crosby, Miss. Harriet R',
       'Andersson, Miss. Ingeborg Constanzia',
       'Andersson, Miss. Sigrid Elisabeth', 'Beane, Mr. Edward',
       'Douglas, Mr. Walter Donald', 'Nicholson, Mr. Arthur Ernest',
       'Beane, Mrs. Edward (Ethel Clarke)', 'Padro y Manent, Mr. Julian',
       'Goldsmith, Mr. Frank John', 'Davies, Master. John Morgan Jr',
       'Thayer, Mr. John Borland Jr', 'Sharp, Mr. Percival James R',
       "O'Brien, Mr. Timothy", 'Leeni, Mr. Fahim ("Philip Zenni")',
       'Ohman, Miss. Velin', 'Wright, Mr. George',
       'Duff Gordon, Lady. (Lucille Christiana Sutherland) ("Mrs Morgan")',
       'Robbins, Mr. Victor', 'Taussig, Mrs. Emil (Tillie Mandelbaum)',
       'de Messemaeker, Mrs. Guillaume Joseph (Emma)',
       'Morrow, Mr. Thomas Rowan', 'Sivic, Mr. Husein',
       'Norman, Mr. Robert Douglas', 'Simmons, Mr. John',
       'Meanwell, Miss. (Marion Ogden)', 'Davies, Mr. Alfred J',
       'Stoytcheff, Mr. Ilia',

In [32]:
def limpianombre(x):
    x = x.split(",")
    x = x[1].split(".")
    return x[0].strip()

In [33]:
data["Title"] = data["Name"].apply(limpianombre)

In [34]:
data.head()

,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,deck,Title
0,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,M,Mr
1,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,C,Mrs
2,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,M,Miss
3,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,C,Mrs
4,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S,M,Mr

In [35]:
data.Title.unique()

array(['Mr', 'Mrs', 'Miss', 'Master', 'Don', 'Rev', 'Dr', 'Mme', 'Ms',
       'Major', 'Lady', 'Sir', 'Mlle', 'Col', 'Capt', 'the Countess',
       'Jonkheer'], dtype=object)

In [36]:
data.Title.value_counts()

Mr              517
Miss            182
Mrs             125
Master           40
Dr                7
Rev               6
Mlle              2
Major             2
Col               2
the Countess      1
Capt              1
Ms                1
Sir               1
Lady              1
Mme               1
Don               1
Jonkheer          1
Name: Title, dtype: int64

###Para no tener muchas categor칤as con los t칤tulos, vamos a quedarnos con los que tienen m치s de 10

In [42]:
varios = (data.Title.value_counts()<10)

In [43]:
varios

Mr              False
Miss            False
Mrs             False
Master          False
Dr               True
Rev              True
Mlle             True
Major            True
Col              True
the Countess     True
Capt             True
Ms               True
Sir              True
Lady             True
Mme              True
Don              True
Jonkheer         True
Name: Title, dtype: bool

In [48]:
# Hacemos un loc de la columna y si es true, porque es menos de 10, lo identificamos como miscel치neo
data["Title"] = data["Title"].apply(lambda x: "Misc" if varios.loc[x] == True else x)

In [45]:
data.head()

,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,deck,Title
0,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,M,Mr
1,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,C,Mrs
2,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,M,Miss
3,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,C,Mrs
4,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S,M,Mr

In [46]:
data.Title.unique()

array(['Mr', 'Mrs', 'Miss', 'Master', 'Misc'], dtype=object)

In [49]:
columnas = [x.lower() for x in list(data.columns)]

In [51]:
data.columns = columnas

In [52]:
data.sample()

,survived,pclass,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,deck,title
513,1,1,"Rothschild, Mrs. Martin (Elizabeth L. Barrett)",female,54.0,1,0,PC 17603,59.4,NaN,C,M,Mrs

In [53]:
borrar = ["name", "cabin", "ticket"]

In [57]:
data.drop(columns=borrar, inplace=True)

In [58]:
data.head()

   survived  pclass     sex   age  sibsp  parch     fare embarked deck title
0         0       3    male  22.0      1      0   7.2500        S    M    Mr
1         1       1  female  38.0      1      0  71.2833        C    C   Mrs
2         1       3  female  26.0      0      0   7.9250        S    M  Miss
3         1       1  female  35.0      1      0  53.1000        S    C   Mrs
4         0       3    male  35.0      0      0   8.0500        S    M    Mr

Solo nos queda la columna Age con nulos ... Vamos a rellenarlos, pero explorando los datos.... 쯦ienen la misma edad de media los hombres que las mujeres?

In [59]:
data.isnull().sum()

survived      0
pclass        0
sex           0
age         177
sibsp         0
parch         0
fare          0
embarked      2
deck          0
title         0
dtype: int64

In [66]:
# Agrupamos por sexo y edad para ver las medianas de ambas agrupaciones
data.groupby(["sex"])["age"].mean()

sex
female    27.915709
male      30.726645
Name: age, dtype: float64

In [71]:
#ㅁgrupamos por sexo y t칤ctulo para tener en cuenta tambi칠n el estatus socioecon칩mico
data.groupby(["sex", "title"])["age"].median()

sex     title
female  Misc      28.0
        Miss      21.0
        Mrs       35.0
male    Master     3.5
        Misc      49.0
        Mr        30.0
Name: age, dtype: float64

In [72]:
data.groupby(["sex", "title"])["age"].mean()

sex     title
female  Misc      32.857143
        Miss      21.773973
        Mrs       35.898148
male    Master     4.574167
        Misc      45.894737
        Mr        32.368090
Name: age, dtype: float64

Por ajustarnos un poco m치s, vamos a rellenar los NaN de la edad con la mediana pero en funci칩n de su sexo y tambi칠n en funci칩n de la cubierta.

In [69]:
# Agrupamos adem치s por cubierta para tener en cuenta tambi칠n el estatus socioecon칩mico
display(data.groupby(["sex", "deck"])["age"].median())

sex     deck
female  A       48.0
        B       29.5
        C       35.0
        D       47.0
        E       33.0
        F       26.5
        G       14.0
        M       25.0
male    A       40.0
        B       36.0
        C       38.0
        D       36.5
        E       46.0
        F       19.0
        M       27.0
        T       45.0
Name: age, dtype: float64

In [73]:
data["age"] = data.groupby(["sex", "title"])["age"].apply(lambda x: x.fillna(x.median()))

In [74]:
data.head()

   survived  pclass     sex   age  sibsp  parch     fare embarked deck title
0         0       3    male  22.0      1      0   7.2500        S    M    Mr
1         1       1  female  38.0      1      0  71.2833        C    C   Mrs
2         1       3  female  26.0      0      0   7.9250        S    M  Miss
3         1       1  female  35.0      1      0  53.1000        S    C   Mrs
4         0       3    male  35.0      0      0   8.0500        S    M    Mr

## Categorical encoding

Con una linea de import en nuestro c칩digo, se abren posibilidades nuevas en opciones a como modelar o manipular nuestro dataset.

Anteriormente comentamos en el post de dummies la posibilidad de generar con la funci칩n get_dummies() y transformar cada dato no num칠rico en una representaci칩n binaria ( expandiendo nuestro dataset a la cantidad de datos distintos que existan en una columna).

###Label Encoder
Pros y contras
- Si tenemos categor칤as que tienen valor en s칤 mismas, como "bueno, malo, regular" lo ideal ser칤a no dejar que LabelEncoder lo haga de forma autom치tica si no aplicarlo nosotras a mano, ya que el valor que ponemos puede influir en el peso que el algoritmo le da a esas variables.

In [76]:
from sklearn import preprocessing
le = preprocessing.LabelEncoder()

In [77]:
data["embarked_n"] = le.fit_transform(data["embarked"])

In [78]:
data.head()

,survived,pclass,sex,age,sibsp,parch,fare,embarked,deck,title,embarked_n
0,0,3,male,22.0,1,0,7.2500,S,M,Mr,2
1,1,1,female,38.0,1,0,71.2833,C,C,Mrs,0
2,1,3,female,26.0,0,0,7.9250,S,M,Miss,2
3,1,1,female,35.0,1,0,53.1000,S,C,Mrs,2
4,0,3,male,35.0,0,0,8.0500,S,M,Mr,2

In [79]:
#Recordemos que labelencoder nos pone n칰meros donde tenemos categor칤as empezando por 0 e incrementando
data["sex_n"] = le.fit_transform(data["sex"])

In [80]:
data.head()

,survived,pclass,sex,age,sibsp,parch,fare,embarked,deck,title,embarked_n,sex_n
0,0,3,male,22.0,1,0,7.2500,S,M,Mr,2,1
1,1,1,female,38.0,1,0,71.2833,C,C,Mrs,0,0
2,1,3,female,26.0,0,0,7.9250,S,M,Miss,2,0
3,1,1,female,35.0,1,0,53.1000,S,C,Mrs,2,0
4,0,3,male,35.0,0,0,8.0500,S,M,Mr,2,1

In [82]:
data.dtypes

survived        int64
pclass          int64
sex            object
age           float64
sibsp           int64
parch           int64
fare          float64
embarked       object
deck           object
title          object
embarked_n      int64
sex_n           int64
dtype: object

### One Hot Encoder

Ahora bien, como ya hemos comentado, dependiendo de los datos que tengamos, podr칤amos encontrarnos con situaciones en las que, tras la codificaci칩n de las etiquetas, podr칤amos confundir a nuestro modelo haci칠ndole creer que una columna tiene datos con alg칰n tipo de orden o jerarqu칤a, cuando claramente no lo tenemos. Para evitar esto, "OneHotEncodeamos" esa columna.
Lo que hace una codificaci칩n en caliente es que toma una columna que tiene datos categ칩ricos, que ha sido codificada con etiquetas, y luego divide la columna en m칰ltiples columnas. Los n칰meros son reemplazados por 1s y 0s, dependiendo de qu칠 columna tiene qu칠 valor.

In [84]:
data.title.unique()

array(['Mr', 'Mrs', 'Miss', 'Master', 'Misc'], dtype=object)

In [85]:
labels = ["title_" + str(a) for a in list(data.title.unique())]

In [87]:
onehotencoder = preprocessing.OneHotEncoder()

In [89]:
title = onehotencoder.fit_transform(data["title"].values.reshape(-1,1)).toarray()

In [91]:
title

array([[0., 0., 0., 1., 0.],
       [0., 0., 0., 0., 1.],
       [0., 0., 1., 0., 0.],
       ...,
       [0., 0., 1., 0., 0.],
       [0., 0., 0., 1., 0.],
       [0., 0., 0., 1., 0.]])

In [92]:
data[labels] = pd.DataFrame(title, index=data.index)

In [93]:
data.head()

,survived,pclass,sex,age,sibsp,parch,fare,embarked,deck,title,embarked_n,sex_n,title_Mr,title_Mrs,title_Miss,title_Master,title_Misc
0,0,3,male,22.0,1,0,7.2500,S,M,Mr,2,1,0.0,0.0,0.0,1.0,0.0
1,1,1,female,38.0,1,0,71.2833,C,C,Mrs,0,0,0.0,0.0,0.0,0.0,1.0
2,1,3,female,26.0,0,0,7.9250,S,M,Miss,2,0,0.0,0.0,1.0,0.0,0.0
3,1,1,female,35.0,1,0,53.1000,S,C,Mrs,2,0,0.0,0.0,0.0,0.0,1.0
4,0,3,male,35.0,0,0,8.0500,S,M,Mr,2,1,0.0,0.0,0.0,1.0,0.0

###ㅁ mano con un diccionario 游눠
Podremos otorgarle un valor num칠rico a cada categor칤a y decidimos su importancia

In [94]:
data.deck.unique()

array(['M', 'C', 'E', 'G', 'D', 'A', 'B', 'F', 'T'], dtype=object)

In [96]:
"""
Creamos las categor칤as a mano, podr칤amos darle un orden de importancia a las letras y poner
mayor puntuaci칩n o menor en funci칩n de la relaci칩n que tenga esa variable con la variable target.
"""
dic_para_hot = {"M": 2,
                "C": 7,
                "E": 5,
                "G":3,
                "D":6,
                "A":9,
                "B":8,
                "F": 4,
                "T":1
}

In [97]:
data.deck = data.deck.map(dic_para_hot)

In [98]:
data.head()

,survived,pclass,sex,age,sibsp,parch,fare,embarked,deck,title,embarked_n,sex_n,title_Mr,title_Mrs,title_Miss,title_Master,title_Misc
0,0,3,male,22.0,1,0,7.2500,S,2,Mr,2,1,0.0,0.0,0.0,1.0,0.0
1,1,1,female,38.0,1,0,71.2833,C,7,Mrs,0,0,0.0,0.0,0.0,0.0,1.0
2,1,3,female,26.0,0,0,7.9250,S,2,Miss,2,0,0.0,0.0,1.0,0.0,0.0
3,1,1,female,35.0,1,0,53.1000,S,7,Mrs,2,0,0.0,0.0,0.0,0.0,1.0
4,0,3,male,35.0,0,0,8.0500,S,2,Mr,2,1,0.0,0.0,0.0,1.0,0.0

##Feature Scaling

Algunos algoritmos, especialmente los que se basan en c치lculos de distancia, dar치n m치s peso a las caracter칤sticas que muestren grandes cambios de valor, interpretando estas caracter칤sticas como artificialmente m치s importantes. Para estos algoritmos, es importante que escalemos nuestros rasgos, o que pongamos en la misma escala rasgos con escalas naturalmente diferentes, para que los rasgos sean utilizados por el algoritmo sin una sobreponderaci칩n artificial, y permita comparar dos rasgos con escalas diferentes.      

Los algoritmos que no requieren normalizaci칩n/escalado son los que se basan en reglas. No se ver칤an afectados por ninguna transformaci칩n mon칩tona de las variables. El escalado es una transformaci칩n mon칩tona. 
Ejemplos de algoritmos de esta categor칤a son todos los algoritmos basados en 치rboles: 
- CART
- Random Forests
- Gradient Boosted Decision Trees
Estos algoritmos utilizan reglas (series de desigualdades) y no requieren normalizaci칩n.

Hay dos tipos diferentes de escalamiento de caracter칤sticas que vamos a explorar:

A칰n as칤, os dejo literatura:
    - https://towardsdatascience.com/all-about-feature-scaling-bcc0ad75cb35

### Estandarizaci칩n   
En la estandarizaci칩n, imponemos varias propiedades estad칤sticas a la variable: el valor medio se fija en 0, y la desviaci칩n est치ndar se fija en 1. Esto se consigue restando la media de cada valor de la caracter칤stica y dividiendo por la desviaci칩n est치ndar. Esto tambi칠n se llama a veces "normalizaci칩n de la puntuaci칩n z". 

Entonces, 쯤u칠 significa esto, en la pr치ctica, sobre los datos estandarizados? Como podemos ver a continuaci칩n, ahora tenemos las distribuciones de ambas variables centradas alrededor de la media cero, con una desviaci칩n est치ndar de 1. Como estamos imponiendo esta desviaci칩n est치ndar, la normalizaci칩n reduce los efectos de los valores at칤picos en la caracter칤stica. Adem치s, permite comparar dos caracter칤sticas con escalas o unidades diferentes. Las diferentes escalas de las caracter칤sticas se reflejar칤an estad칤sticamente en diferencias tanto en la media como en la desviaci칩n est치ndar. La estandarizaci칩n de estos dos n칰meros entre caracter칤sticas elimina la influencia de estas diferencias de escala.

La estandarizaci칩n es especialmente importante en situaciones en las que utilizamos algoritmos que asumen que las caracter칤sticas de nuestros datos se distribuyen en una 'curva de campana' o una distribuci칩n gaussiana, como la regresi칩n lineal y log칤stica.

In [102]:
"""
En este dataset no nos enfrentamos a un problema de regresi칩n si no de clasificaci칩n,
pero vamos a hacer un ejemplo de estandarizaci칩n en una columna para ver el c칩digo
"""
from sklearn.preprocessing import StandardScaler

In [103]:
scaler = StandardScaler()

In [104]:
data["fare"] = scaler.fit_transform(data["fare"].values.reshape(-1,1))

In [105]:
data.head()

,survived,pclass,sex,age,sibsp,parch,fare,embarked,deck,title,embarked_n,sex_n,title_Mr,title_Mrs,title_Miss,title_Master,title_Misc
0,0,3,male,22.0,1,0,-0.502445,S,2,Mr,2,1,0.0,0.0,0.0,1.0,0.0
1,1,1,female,38.0,1,0,0.786845,C,7,Mrs,0,0,0.0,0.0,0.0,0.0,1.0
2,1,3,female,26.0,0,0,-0.488854,S,2,Miss,2,0,0.0,0.0,1.0,0.0,0.0
3,1,1,female,35.0,1,0,0.420730,S,7,Mrs,2,0,0.0,0.0,0.0,0.0,1.0
4,0,3,male,35.0,0,0,-0.486337,S,2,Mr,2,1,0.0,0.0,0.0,1.0,0.0

### Normalizaci칩n

En la otra forma de escalado de caracter칤sticas, llamada normalizaci칩n, la caracter칤stica se reescala a un rango entre 0 y 1, sin ning칰n cambio en su distribuci칩n original dentro de ese rango. Matem치ticamente, esto se consigue restando el valor m칤nimo de la caracter칤stica a cada valor de la misma, y dividiendo por la diferencia entre el valor mayor y el valor m칤nimo. 

Dado que calculamos el valor normalizado utilizando los valores m치ximo y m칤nimo de la caracter칤stica, esta t칠cnica se denomina a veces "normalizaci칩n min-max".      
La normalizaci칩n es m치s 칰til en los casos en que sus datos tienen pocos valores at칤picos pero rangos muy variables, usted no sabe c칩mo se distribuyen sus datos, o sabe que no se distribuyen en una curva de campana (gaussiana). Generalmente se aplica con algoritmos que no hacen suposiciones sobre las distribuciones de las caracter칤sticas.

In [106]:
from sklearn.preprocessing import MinMaxScaler

In [107]:
min_max = MinMaxScaler()

In [108]:
data["age"] = min_max.fit_transform(data["age"].values.reshape(-1,1))

In [118]:
#min_max.fit_transform(data["age"].values.reshape(-1,1))

In [119]:
#data["age"].values.reshape(-1,1)

In [109]:
data.head()

,survived,pclass,sex,age,sibsp,parch,fare,embarked,deck,title,embarked_n,sex_n,title_Mr,title_Mrs,title_Miss,title_Master,title_Misc
0,0,3,male,0.271174,1,0,-0.502445,S,2,Mr,2,1,0.0,0.0,0.0,1.0,0.0
1,1,1,female,0.472229,1,0,0.786845,C,7,Mrs,0,0,0.0,0.0,0.0,0.0,1.0
2,1,3,female,0.321438,0,0,-0.488854,S,2,Miss,2,0,0.0,0.0,1.0,0.0,0.0
3,1,1,female,0.434531,1,0,0.420730,S,7,Mrs,2,0,0.0,0.0,0.0,0.0,1.0
4,0,3,male,0.434531,0,0,-0.486337,S,2,Mr,2,1,0.0,0.0,0.0,1.0,0.0

###Cito a Andriy Burkov:
Te estar치s preguntando cu치ndo se debe utilizar la normalizaci칩n y cu치ndo la estandarizaci칩n. No hay una respuesta definitiva a esta pregunta. Por lo general, si su conjunto de datos no es demasiado grande y tiene tiempo, puede probar ambos y ver cu치l de ellos se adapta mejor a su tarea.
Si no tiene tiempo para realizar varios experimentos, como regla general:

- Los algoritmos de aprendizaje no supervisado, en la pr치ctica, se benefician m치s de la estandarizaci칩n que de la normalizaci칩n.      
- La estandarizaci칩n tambi칠n es preferible para una caracter칤stica si los valores que 칠sta toma se distribuyen cerca de una distribuci칩n normal (la llamada curva de campana).     
- Una vez m치s, la normalizaci칩n es preferible para una caracter칤stica si a veces puede tener valores extremadamente altos o bajos (valores at칤picos); esto se debe a que la normalizaci칩n "exprimir치" los valores normales en un rango muy peque침o.       
- En todos los dem치s casos, es preferible la normalizaci칩n.      

El reescalado de caracter칤sticas suele ser beneficioso para la mayor칤a de los algoritmos de aprendizaje. Sin embargo, las implementaciones modernas de los algoritmos de aprendizaje, que se pueden encontrar en bibliotecas populares, son robustas a las caracter칤sticas que se encuentran en diferentes rangos..

## Resumen hasta aqu칤 

- No despreciamos features sin explorarlas primero
- Somos creativas :)
- No borramos columnas a la primera que vemos muchos NaN
- Buceamos en los datos y su significado
- En general, a los algoritmos les viene bien el escalado de los datos (hay que elegir entre normalizaci칩n y estandarizaci칩n) sobre todo cuando tenemos valores muy altos/bajos. 
- Variables categ칩ricas (LabelEncoder, OneHotEncoder, GetDummies, a mano con un diccionario=OrdinalEncoding)

##Repasamos Train Test Split

In [ ]:
# Vamos a preparar los datos (X, y) antes de entrenar el modelo y ajustar los hiperpar치metros

In [ ]:
# Lista de columnas que voy a usar en la X

In [ ]:
# Me guardo la variable X con todos los datos

In [ ]:
# Variable target solo la columna que voy a predecir

In [ ]:
# Asigno las variables train test split

## Ajuste de hiperpar치metros

쯈u칠 es el ajuste de hiperpar치metros?
Los hiperpar치metros son par치metros ajustables que permiten controlar el proceso de entrenamiento de un modelo. Por ejemplo, con redes neuronales, puede decidir el n칰mero de capas ocultas y el n칰mero de nodos de cada capa. El rendimiento de un modelo depende en gran medida de los hiperpar치metros.
El ajuste de hiperpar치metros, tambi칠n denominado optimizaci칩n de hiperpar치metros es el proceso de encontrar la configuraci칩n de hiperpar치metros que produzca el mejor rendimiento. Normalmente, el proceso es manual y costoso desde el punto de vista computacional.

Hay diferentes t칠cnicas para elegir este ajuste de hiperpar치metros:     
    
### - Muestreo aleatorio    
El muestreo aleatorio admite hiperpar치metros discretos y continuos. Admite la terminaci칩n anticipada de las series de bajo rendimiento. Algunos usuarios realizan una b칰squeda inicial con muestreo aleatorio y luego restringen el espacio de b칰squeda para mejorar los resultados.
En el muestreo aleatorio, los valores de hiperpar치metro se seleccionan aleatoriamente del espacio de b칰squeda definido.

### - Muestreo de cuadr칤cula
El muestreo de cuadr칤cula admite hiperpar치metros discretos. Use el muestreo de cuadr칤cula si su presupuesto le permite buscar en el espacio de b칰squeda de manera exhaustiva. Admite la terminaci칩n anticipada de las series de bajo rendimiento.

### - Muestreo bayesiano   
El muestreo bayesiano se basa en el algoritmo de optimizaci칩n bayesiano. Escoge las muestras en funci칩n de c칩mo lo hicieron las anteriores, para que las nuevas muestras mejoren la m칠trica principal.
 Para obtener los mejores resultados, se recomienda que el n칰mero m치ximo de series sea mayor o igual que 20 veces el n칰mero de hiperpar치metros que se est치 optimizando.
El n칰mero de series simult치neas afecta a la eficacia del proceso de ajuste. Un menor n칰mero de series simult치neas puede provocar una mejor convergencia de muestreo, dado que el menor grado de paralelismo aumenta el n칰mero de series que se benefician de las series completadas previamente.

Vamos a ver el ajuste de hiperpar치metros en cuadr칤cula con GridSearchCV pero os dejo que investigu칠is el muestreo bayesiano con [HyperOpt](https://towardsdatascience.com/hyperopt-hyperparameter-tuning-based-on-bayesian-optimization-7fa32dffaf29)

###GridSearchCV de sklearn, 춰saludad a vuestro nuevo amigo!
Y leed la [documentaci칩n](https://scikit-learn.org/stable/modules/generated/sklearn.model_selection.GridSearchCV.html)

In [ ]:
#Hiperpar치metros tuneables de RandomForest
parameters = {'bootstrap': [True, False],
 'max_depth': [10, 20, 30, 40, 50, 60, 70, 80, 90, 100, None],
 'max_features': ['auto', 'sqrt'],
 'min_samples_leaf': [1, 2, 4],
 'min_samples_split': [2, 5, 10],
 'n_estimators': [200, 400, 600, 800, 1000, 1200, 1400, 1600, 1800, 2000]}

In [ ]:
#Reducimos para hacer la prueba con diferentes n_estimators

In [ ]:
# Guaardo en una variable raandom forest

In [ ]:
# Guardo el grid search con el algoritmo, los par치metros y verbose paraa que muestre info del proceso

# entreno el grid con los datos de train

###Entrenar칤amos el modelo con los mejores par치metros

Si en GridSearchCV() se indica refit=True, tras identificar los mejores hiperpar치metros, se reentrena el modelo con ellos y se almacena en .best_estimator_.

In [ ]:
#Entrenon

In [ ]:
from sklearn.metrics import accuracy_score, precision_score, f1_score, recall_score

In [ ]:
print ("Accuracy", round(accuracy_score(y_test,y_pred),3))
print("Precission",round(precision_score(y_test,y_pred, average = "weighted"),3))
print("Recall", round(recall_score(y_test,y_pred, average = "weighted"),3))
print("F1_score", round(f1_score(y_test,y_pred,average= "weighted"),3))

##Salvar / Exprotar el modelo
https://machinelearningmastery.com/save-load-machine-learning-models-python-scikit-learn/

In [ ]:
import pickle

In [ ]:
#맙ave the model to disk

In [ ]:
# load the model from disk