<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Introducci칩n" data-toc-modified-id="Introducci칩n-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Introducci칩n</a></span></li><li><span><a href="#Instalaci칩n" data-toc-modified-id="Instalaci칩n-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>Instalaci칩n</a></span></li><li><span><a href="#Introducci칩n-a-las-estructuras-de-datos-de-pandas" data-toc-modified-id="Introducci칩n-a-las-estructuras-de-datos-de-pandas-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>Introducci칩n a las estructuras de datos de pandas</a></span><ul class="toc-item"><li><span><a href="#Series" data-toc-modified-id="Series-3.1"><span class="toc-item-num">3.1&nbsp;&nbsp;</span>Series</a></span></li><li><span><a href="#Buscar-valores-NaN" data-toc-modified-id="Buscar-valores-NaN-3.2"><span class="toc-item-num">3.2&nbsp;&nbsp;</span>Buscar valores NaN</a></span></li></ul></li><li><span><a href="#Datos-de-lectura/escritura" data-toc-modified-id="Datos-de-lectura/escritura-4"><span class="toc-item-num">4&nbsp;&nbsp;</span>Datos de lectura/escritura</a></span><ul class="toc-item"><li><span><a href="#Cargamos-datos-de-formato-CSV" data-toc-modified-id="Cargamos-datos-de-formato-CSV-4.1"><span class="toc-item-num">4.1&nbsp;&nbsp;</span>Cargamos datos de formato CSV</a></span></li><li><span><a href="#Cargamos-datos-de-formato-xlsx" data-toc-modified-id="Cargamos-datos-de-formato-xlsx-4.2"><span class="toc-item-num">4.2&nbsp;&nbsp;</span>Cargamos datos de formato xlsx</a></span></li><li><span><a href="#Visualizamos-las-primeras-filas" data-toc-modified-id="Visualizamos-las-primeras-filas-4.3"><span class="toc-item-num">4.3&nbsp;&nbsp;</span>Visualizamos las primeras filas</a></span></li><li><span><a href="#Visualizamos-las-칰ltimas-filas" data-toc-modified-id="Visualizamos-las-칰ltimas-filas-4.4"><span class="toc-item-num">4.4&nbsp;&nbsp;</span>Visualizamos las 칰ltimas filas</a></span></li><li><span><a href="#Visualizamos-una-muestra-aleatoria" data-toc-modified-id="Visualizamos-una-muestra-aleatoria-4.5"><span class="toc-item-num">4.5&nbsp;&nbsp;</span>Visualizamos una muestra aleatoria</a></span></li></ul></li><li><span><a href="#An치lisis-exploratorio-de-un-dataframe" data-toc-modified-id="An치lisis-exploratorio-de-un-dataframe-5"><span class="toc-item-num">5&nbsp;&nbsp;</span>An치lisis exploratorio de un dataframe</a></span></li><li><span><a href="#Operaciones-b치sicas-con-los-dataframes" data-toc-modified-id="Operaciones-b치sicas-con-los-dataframes-6"><span class="toc-item-num">6&nbsp;&nbsp;</span>Operaciones b치sicas con los dataframes</a></span><ul class="toc-item"><li><span><a href="#Seleccionamos-una-columna" data-toc-modified-id="Seleccionamos-una-columna-6.1"><span class="toc-item-num">6.1&nbsp;&nbsp;</span>Seleccionamos una columna</a></span></li><li><span><a href="#Seleccionamos-varias-columnas" data-toc-modified-id="Seleccionamos-varias-columnas-6.2"><span class="toc-item-num">6.2&nbsp;&nbsp;</span>Seleccionamos varias columnas</a></span></li><li><span><a href="#Obtener-los-valores-칰nicos-de-una-columna-(es-decir,-una-serie)" data-toc-modified-id="Obtener-los-valores-칰nicos-de-una-columna-(es-decir,-una-serie)-6.3"><span class="toc-item-num">6.3&nbsp;&nbsp;</span>Obtener los valores 칰nicos de una columna (es decir, una serie)</a></span></li><li><span><a href="#Cambiar-el-tipo-de-datos-de-una-columna" data-toc-modified-id="Cambiar-el-tipo-de-datos-de-una-columna-6.4"><span class="toc-item-num">6.4&nbsp;&nbsp;</span>Cambiar el tipo de datos de una columna</a></span></li><li><span><a href="#Filtramos-los-datos-por-el-valor-de-las-columnas" data-toc-modified-id="Filtramos-los-datos-por-el-valor-de-las-columnas-6.5"><span class="toc-item-num">6.5&nbsp;&nbsp;</span>Filtramos los datos por el valor de las columnas</a></span></li><li><span><a href="#Copia-de-un-dataframe-y-renombrar-columnas" data-toc-modified-id="Copia-de-un-dataframe-y-renombrar-columnas-6.6"><span class="toc-item-num">6.6&nbsp;&nbsp;</span>Copia de un dataframe y renombrar columnas</a></span><ul class="toc-item"><li><span><a href="#Renombramos-columnas" data-toc-modified-id="Renombramos-columnas-6.6.1"><span class="toc-item-num">6.6.1&nbsp;&nbsp;</span>Renombramos columnas</a></span></li><li><span><a href="#Podemos-renombrar-las-columnas-machacando-el-atributo-de-la-instancia...-쯢s-suena-esto?" data-toc-modified-id="Podemos-renombrar-las-columnas-machacando-el-atributo-de-la-instancia...-쯢s-suena-esto?-6.6.2"><span class="toc-item-num">6.6.2&nbsp;&nbsp;</span>Podemos renombrar las columnas machacando el atributo de la instancia... 쯢s suena esto?</a></span></li></ul></li><li><span><a href="#Borramos-columnas" data-toc-modified-id="Borramos-columnas-6.7"><span class="toc-item-num">6.7&nbsp;&nbsp;</span>Borramos columnas</a></span></li><li><span><a href="#Borramos-filas" data-toc-modified-id="Borramos-filas-6.8"><span class="toc-item-num">6.8&nbsp;&nbsp;</span>Borramos filas</a></span></li><li><span><a href="#Reset_index-y-set_index" data-toc-modified-id="Reset_index-y-set_index-6.9"><span class="toc-item-num">6.9&nbsp;&nbsp;</span>Reset_index y set_index</a></span><ul class="toc-item"><li><span><a href="#SET_INDEX" data-toc-modified-id="SET_INDEX-6.9.1"><span class="toc-item-num">6.9.1&nbsp;&nbsp;</span>SET_INDEX</a></span></li></ul></li><li><span><a href="#Operaciones-entre-columnas" data-toc-modified-id="Operaciones-entre-columnas-6.10"><span class="toc-item-num">6.10&nbsp;&nbsp;</span>Operaciones entre columnas</a></span></li></ul></li><li><span><a href="#Apply-!!" data-toc-modified-id="Apply-!!-7"><span class="toc-item-num">7&nbsp;&nbsp;</span>Apply !!</a></span></li><li><span><a href="#Df-.loc-e-.iloc" data-toc-modified-id="Df-.loc-e-.iloc-8"><span class="toc-item-num">8&nbsp;&nbsp;</span>Df .loc e .iloc</a></span><ul class="toc-item"><li><span><a href="#Seleccionar-filas-y-columnas-en-Pandas-mediante-posici칩n-con-iloc" data-toc-modified-id="Seleccionar-filas-y-columnas-en-Pandas-mediante-posici칩n-con-iloc-8.1"><span class="toc-item-num">8.1&nbsp;&nbsp;</span>Seleccionar filas y columnas en Pandas mediante posici칩n con iloc</a></span></li><li><span><a href="#Seleccionar-filas-y-columnas-en-Pandas-en-base-a-etiquetas-con-loc" data-toc-modified-id="Seleccionar-filas-y-columnas-en-Pandas-en-base-a-etiquetas-con-loc-8.2"><span class="toc-item-num">8.2&nbsp;&nbsp;</span>Seleccionar filas y columnas en Pandas en base a etiquetas con loc</a></span><ul class="toc-item"><li><span><a href="#En-base-a-etiqueta" data-toc-modified-id="En-base-a-etiqueta-8.2.1"><span class="toc-item-num">8.2.1&nbsp;&nbsp;</span>En base a etiqueta</a></span></li><li><span><a href="#En-base-a-una-condici칩n" data-toc-modified-id="En-base-a-una-condici칩n-8.2.2"><span class="toc-item-num">8.2.2&nbsp;&nbsp;</span>En base a una condici칩n</a></span></li></ul></li><li><span><a href="#Buscamos-valores-nulos" data-toc-modified-id="Buscamos-valores-nulos-8.3"><span class="toc-item-num">8.3&nbsp;&nbsp;</span>Buscamos valores nulos</a></span><ul class="toc-item"><li><span><a href="#쮼s-nulo?" data-toc-modified-id="쮼s-nulo?-8.3.1"><span class="toc-item-num">8.3.1&nbsp;&nbsp;</span>쮼s nulo?</a></span></li><li><span><a href="#쮼s-NO-nulo?" data-toc-modified-id="쮼s-NO-nulo?-8.3.2"><span class="toc-item-num">8.3.2&nbsp;&nbsp;</span>쮼s NO nulo?</a></span></li><li><span><a href="#Sacar-una-suma-de-los-valores-nulos-de-cada-columna" data-toc-modified-id="Sacar-una-suma-de-los-valores-nulos-de-cada-columna-8.3.3"><span class="toc-item-num">8.3.3&nbsp;&nbsp;</span>Sacar una suma de los valores nulos de cada columna</a></span></li></ul></li><li><span><a href="#Borramos-los-valores-nulos" data-toc-modified-id="Borramos-los-valores-nulos-8.4"><span class="toc-item-num">8.4&nbsp;&nbsp;</span>Borramos los valores nulos</a></span></li><li><span><a href="#C칩mo-rellenar-los-datos-que-faltan" data-toc-modified-id="C칩mo-rellenar-los-datos-que-faltan-8.5"><span class="toc-item-num">8.5&nbsp;&nbsp;</span>C칩mo rellenar los datos que faltan</a></span></li></ul></li><li><span><a href="#Borramos-los-duplicados" data-toc-modified-id="Borramos-los-duplicados-9"><span class="toc-item-num">9&nbsp;&nbsp;</span>Borramos los duplicados</a></span></li><li><span><a href="#Agregaci칩n-de-datos" data-toc-modified-id="Agregaci칩n-de-datos-10"><span class="toc-item-num">10&nbsp;&nbsp;</span>Agregaci칩n de datos</a></span><ul class="toc-item"><li><span><a href="#GroupBy" data-toc-modified-id="GroupBy-10.1"><span class="toc-item-num">10.1&nbsp;&nbsp;</span>GroupBy</a></span><ul class="toc-item"><li><span><a href="#Me-preguntar칠is-쯫-si-quiero-agrupar-por-m치s-columnas?" data-toc-modified-id="Me-preguntar칠is-쯫-si-quiero-agrupar-por-m치s-columnas?-10.1.1"><span class="toc-item-num">10.1.1&nbsp;&nbsp;</span>Me preguntar칠is 쯫 si quiero agrupar por m치s columnas?</a></span></li></ul></li><li><span><a href="#Uni칩n-de-Dataframes" data-toc-modified-id="Uni칩n-de-Dataframes-10.2"><span class="toc-item-num">10.2&nbsp;&nbsp;</span>Uni칩n de Dataframes</a></span></li><li><span><a href="#Concat" data-toc-modified-id="Concat-10.3"><span class="toc-item-num">10.3&nbsp;&nbsp;</span>Concat</a></span></li><li><span><a href="#Merge" data-toc-modified-id="Merge-10.4"><span class="toc-item-num">10.4&nbsp;&nbsp;</span>Merge</a></span></li><li><span><a href="#Join" data-toc-modified-id="Join-10.5"><span class="toc-item-num">10.5&nbsp;&nbsp;</span>Join</a></span></li></ul></li><li><span><a href="#Spoiler-fantasioso-de-ma침ana" data-toc-modified-id="Spoiler-fantasioso-de-ma침ana-11"><span class="toc-item-num">11&nbsp;&nbsp;</span>Spoiler fantasioso de ma침ana</a></span></li><li><span><a href="#Exportar-datos" data-toc-modified-id="Exportar-datos-12"><span class="toc-item-num">12&nbsp;&nbsp;</span>Exportar datos</a></span></li><li><span><a href="#M칠todos-habituales-de-pandas" data-toc-modified-id="M칠todos-habituales-de-pandas-13"><span class="toc-item-num">13&nbsp;&nbsp;</span>M칠todos habituales de pandas</a></span></li><li><span><a href="#Resumen" data-toc-modified-id="Resumen-14"><span class="toc-item-num">14&nbsp;&nbsp;</span>Resumen</a></span></li><li><span><a href="#Further-materials" data-toc-modified-id="Further-materials-15"><span class="toc-item-num">15&nbsp;&nbsp;</span>Further materials</a></span></li></ul></div>

#Pandas

![pandas](https://media.giphy.com/media/nVsLCrW5iHf6E/giphy.gif)

Mi gif favorito para la que, a partir de ahora, ser치 tu librer칤a favorita 游땘

##Introducci칩n 
Pandas es, sin duda, la biblioteca m치s utilizada en el ecosistema de Python para el an치lisis y la manipulaci칩n de datos. Es r치pida, potente, flexible, f치cil de usar y de c칩digo abierto. 


Entre sus principales caracter칤sticas est치n
* Un objeto **DataFrame** r치pido y eficiente para la manipulaci칩n de datos con indexaci칩n integrada
* **Lectura y escritura** de datos en multitud de formatos: Microsoflt Excel, CSV, bases de datos SQL, etc;
* M칠todos integrados y eficientes para todo tipo de manipulaci칩n de datos: datos faltantes, subconjunto, uni칩n, fusi칩n, etc; 
* Facilidad para trabajar con datos temporales (de hecho, Pandas se llama as칤 por "PANnel DAta") 
* Buena **integraci칩n con otras librer칤as** de an치lisis de datos o Machine learning: scikit-learn, scipy, seaborn, plotly, etc;
* Es **ampliamente utilizado** tanto en el sector privado como en el acad칠mico     


Pandas proporciona estructuras de datos de alto nivel y funciones dise침adas para hacer que el trabajo con datos estructurados o tabulares sea r치pido, f치cil y expresivo. Desde su aparici칩n en 2010, ha ayudado a que Python sea un entorno de an치lisis de datos potente y productivo. Los principales objetos de pandas que se utilizar치n en este libro son el DataFrame, una estructura de datos tabular orientada a columnas con etiquetas de filas y columnas, y la Serie, un objeto de matriz unidimensional etiquetado.

Pandas combina las ideas de alto rendimiento de NumPy con las capacidades flexibles de manipulaci칩n de datos de las hojas de c치lculo y las bases de datos relacionales (como SQL). Proporciona una sofisticada funcionalidad de indexaci칩n para facilitar la remodelaci칩n, el corte y la divisi칩n, la realizaci칩n de agregaciones y la selecci칩n de subconjuntos de datos.

![image](https://thumbor.forbes.com/thumbor/960x0/https%3A%2F%2Fblogs-images.forbes.com%2Fgilpress%2Ffiles%2F2016%2F03%2FTime-1200x511.jpg)



Fuente: [Forbes](https://www.forbes.com/sites/gilpress/2016/03/23/data-preparation-most-time-consuming-least-enjoyable-data-science-task-survey-says/#1ba071616f63)

##Instalaci칩n

Lo primerito que deber치s hacer, siempre ser치     
pip install pandas

In [ ]:
import pandas as pd

## Introducci칩n a las estructuras de datos de pandas
Para empezar con pandas, necesitar치s sentirte c칩modo con sus dos estructuras de datos de trabajo: Series y DataFrame. Aunque no son una soluci칩n universal para todos los problemas, proporcionan una base s칩lida y f치cil de usar para la mayor칤a de las aplicaciones.

### Series
Una Serie es un objeto tipo array unidimensional que contiene una secuencia de valores (de tipos similares a los de NumPy) y un array asociado de etiquetas de datos, llamado su 칤ndice. La Serie m치s sencilla se forma a partir de un 칰nico array de datos:

In [ ]:
serie = pd.Series(["hola", 2,3,4, "otro string"])

In [ ]:
serie

In [ ]:
type(serie)

In [ ]:
serie.values

In [ ]:
serie.index

In [ ]:
list(serie.index)

In [ ]:
list(serie.values)

La representaci칩n en cadena de una Serie mostrada interactivamente muestra el 칤ndice a la izquierda y los valores a la derecha. Como no especificamos un 칤ndice para los datos, se crea uno por defecto formado por los enteros 0 a N - 1 (donde N es la longitud de los datos). Puedes obtener la representaci칩n del array y el objeto 칤ndice de la Serie a trav칠s de sus atributos values e index, respectivamente:

In [ ]:
serie.values

In [ ]:
serie.index

Otra forma de pensar en una Serie es como un dict ordenado de longitud fija, ya que es un mapeo de valores de 칤ndice a valores de datos. Se puede utilizar en muchos contextos en los que se podr칤a utilizar un diccionario.
Si tienes datos contenidos en un dict de Python, puedes crear una Serie a partir de ellos pasando el dict:

In [ ]:
sdata = {'Ohio': 35000, 'Texas': 71000, 'Oregon': 16000, 'Utah': 5000}

In [ ]:
seriedata = pd.Series(sdata)

In [ ]:
seriedata

In [ ]:
display(seriedata)

In [ ]:
list(seriedata.index)

In [ ]:
seriedata.index

Cuando s칩lo se pasa un dict, el 칤ndice de la Serie resultante tendr치 las claves del dict en orden. Puedes anular esto pasando las claves del dict en el orden que desee que aparezcan en la Serie resultante:

In [ ]:
estados = ['California', 'Ohio', 'Oregon', 'Texas']

In [ ]:
serie3 = pd.Series(sdata, index=estados)
serie3

Aqu칤, los tres valores encontrados en sdata se colocaron en los lugares apropiados, pero como no se encontr칩 ning칰n valor para 'California', aparece como NaN (no es un n칰mero), lo que se considera en pandas para marcar valores perdidos o NA. Como "Utah" no se incluy칩 en los estados, se excluye del objeto resultante.

In [ ]:
import numpy as np

In [ ]:
np.nan

In [ ]:
a = np.nan

In [ ]:
if np.isnan(a) == True:
    print("hola")

In [ ]:
type(np.nan)

### Buscar valores NaN
NaN significa Not A Number (No es un n칰mero) y es una de las formas habituales de representar el valor que falta en los datos. Es un valor especial de punto flotante y no puede ser convertido a otro tipo que no sea float.
El valor NaN es uno de los principales problemas en el an치lisis de datos. Es muy esencial tratar con NaN para obtener los resultados deseados.

In [ ]:
# El m칠todo de pandas para buscar NaN es pd.isnull
pd.isnull(serie3)

In [ ]:
pd.isnull(serie3).sum()

In [ ]:
pd.isna(serie3)

In [ ]:
pd.isna(serie3).sum()

## Datos de lectura/escritura

Pandas puede leer y escribir datos de una gran variedad de formatos. [Lee la documentaci칩n](https://pandas.pydata.org/pandas-docs/stable/user_guide/io.html)
Aunque una de las m치s comunes es a partir de un dictado de listas de igual longitud o arrays NumPy:

In [ ]:
# Desde un diccionario
data = {'state': ['Ohio', 'Ohio', 'Ohio', 'Nevada', 'Nevada', 'Nevada'],
        'year': [2000, 2001, 2002, 2001, 2002, 2003],
        'pop': [1.5, 1.7, 3.6, 2.4, 2.9, np.nan]}

In [ ]:
frame = pd.DataFrame(data)

In [ ]:
# Para visualizar un dataframe utilizaremos display y NO print
display(frame)

In [ ]:
pd.DataFrame.from_dict(data,orient="Index")

In [ ]:
print(frame)

In [ ]:
#Desde una lista de diccionarios
datos = [{'nombre': 'Sonia',
               'apellido': 'Fominaya',
               'email': 'sonia.fominaya@ironhack.com',
               'vacaciones': 30,
               'saludo': lambda : print('Holi, soy Sonia, hacedme lo primerito la Pull Request')}, 
         
         {'nombre': 'Ana',
               'apellido': 'Garc칤a',
                  'email': 'ana.garcia@ironhack.com',
               'vacaciones': 30,
               'saludo': lambda : print('Hola, soy Ana, cuidado con los print infinitos') },
        {'nombreS': 'Hola',
               'apellido': 'Qu칠 tal',
                  'email': 'ejemplo',
               'vacaciones': np.nan,
               'saludo': lambda: print('Hola, soy Ana, cuidado con los print infinitos') }]

In [ ]:
df_datos = pd.DataFrame(datos)

In [ ]:
df_datos

In [ ]:
df_datos.info()

In [ ]:
df_datos.isna().sum()

In [ ]:
df_datos.loc[0]["email"]

In [ ]:
df_datos.loc[2]["saludo"]()

Si hago un dataframe a trav칠s de una lista de diccionarios:       
    - Cada diccionario ser치 una fila   
    - Las keys ser치n los nombres de las columnas    
    - Tienen que tener la misma estructura

Como estamos usando Jupyter Notebook, los objetos DataFrame de pandas se mostrar치n como una tabla HTML m치s amigable para el navegador.

###Cargamos datos de formato CSV

In [ ]:
df = pd.read_csv("../datasets/avocado_kaggle.csv")

In [ ]:
display(df)

In [ ]:
df.shape

### Cargamos datos de formato xlsx

In [ ]:
retail = pd.read_excel("../datasets/Online Retail.xlsx")

In [ ]:
retail.shape

###Visualizamos las primeras filas

In [ ]:
df.head()

Por defecto head me muestra las 5 primeras filas, puedo ver algunas m치s o algunas menos pas치ndole un n칰mero como par치metro

In [ ]:
df.head(2)

In [ ]:
df.head(7)

###Visualizamos las 칰ltimas filas

In [ ]:
df.tail()

Excatamente igual que con .head() le pasamos un par치metro a .tail()

In [ ]:
df.tail(3)

### Visualizamos una muestra aleatoria

In [ ]:
 #si no le pasamos un par치metro, visualiza una sola fila de forma aleatoria.

In [ ]:
df.sample()

In [ ]:
#Muestra aleatoria de 5 filas
df.sample(5)

In [ ]:
#Muestra aleatoria del 10%
guardar_sample = df.sample(frac=0.1)

In [ ]:
df.sample(frac=0.1)

##ㅁn치lisis exploratorio de un dataframe

In [ ]:
df.shape

In [ ]:
df.info()

In [ ]:
df.head()

In [ ]:
df.describe()

In [ ]:
df.describe().T

In [ ]:
type(df.describe())

In [ ]:
df.sample()

In [ ]:
df.AveragePrice.max()

In [ ]:
df.AveragePrice.min()

In [ ]:
df.AveragePrice.mean()

In [ ]:
df.type.value_counts()

In [ ]:
type(df.type.value_counts())

In [ ]:
#df.region.value_counts()

In [ ]:
df.AveragePrice.value_counts()

In [ ]:
df["Total Bags"].sum()

In [ ]:
# Seleccionamos las columnas cuyo tipo de dato es int64
numericas = df._get_numeric_data()

In [ ]:
numericas.head()

In [ ]:
# Podemos incluir y excluir
df.select_dtypes(include="float64", exclude="datetime64[ns]").head()

In [ ]:
df.head()

------>> Nos hemos quedado aqu칤 <<------ 游댠游

##Operaciones b치sicas con los dataframes

###Seleccionamos una columna

In [ ]:
# Tengo una serie de pandas

In [ ]:
# Si solo pongo unos corchetes, tengo una serie de pandas

In [ ]:
# Tengo una serie de pandas

In [ ]:
# Si a pesar de pasarle una lista, solo tiene un elemento, tengo un dataframe con una sola columna

In [ ]:
#O dos :), o las que queramos

###Seleccionamos varias columnas

In [ ]:
#le podemos pasar directamente una lista con los nombres de las columnas

In [ ]:
# Listar los nombres de columnas de un dataframe

### Obtener los valores 칰nicos de una columna (es decir, una serie)

### Cambiar el tipo de datos de una columna

In [ ]:
# Atenci칩n!! que no se cambian los datos si no sobreescribimos la columna

In [ ]:
#df["ejemplo"] = df.AveragePrice + df.region No puedo sumar strings y n칰meros

###Filtramos los datos por el valor de las columnas

In [ ]:
# multicondici칩n, & and l칩gico

In [ ]:
# | or logico

###Copia de un dataframe y renombrar columnas

#### Renombramos columnas

In [ ]:
# Utilizamos el inplace=True para que se ejecute la acci칩n sobre el dataframe

El m칠todo rename me permite renombrar solamente las columnas que yo quiera, las que est칠n en el diccionario. No hace falta renombrar todas a la vez

In [ ]:
# Podr칤amos guardarlo en una nueva variable

In [ ]:
#O podr칤amos machacar la variable df

####Podemos renombrar las columnas machacando el atributo de la instancia... 쯢s suena esto?
Requiere una lista con el mismo n칰mero de columnas

### Borramos columnas

In [ ]:
# Axis 1 siempre columnas

### Borramos filas

In [ ]:
# Axis 0 siempre filas

Las filas tambi칠n se pueden eliminar. Ten en cuenta que los 칤ndices no se reinician. El 칤ndice se asocia a la fila, no al orden.   
쯉e puede reiniciar el index? Correcto

###Reset_index y set_index

Leemos la [documentaci칩n](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.reset_index.html) para entender algunos par치metros

In [ ]:
#Drop = True evita que se genere otra columna con el index anterior

#### SET_INDEX

쯇ara qu칠 nos puede servir tener la fecha como 칤ndice?    
Lo veremos m치s adelante, para analizar series temporales, pero os avanzo un poco de fantas칤a

In [ ]:
df2.head()

###Operaciones entre columnas

In [ ]:
# Para generar una columna nueva solo tengo que ponerle un nombreS

##ㅁpply !!

Aplica una funci칩n a lo largo de un eje del DataFrame.      
[Lee la doc](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.apply.html)

In [ ]:
#Creamos una funci칩n sencilla que vamos a aplicar

In [ ]:
# Aplicamos la funci칩n a una columna y vemos el resultado en la salida

In [ ]:
# Vamos a crear una columna nueva haciendo un apply a otra columna

In [ ]:
#Hazlo con lambda!!

In [ ]:
# Aplicamos una funci칩n que adem치s de x tiene otro argumento.

##Df .loc e .iloc

### Seleccionar filas y columnas en Pandas mediante posici칩n con iloc

El m칠todo iloc se utiliza en los DataFrames para seleccionar los elementos en base a su ubicaci칩n. Su sintaxis es data.iloc[<filas>, <columnas>], donde <filas> y <columnas> son la posici칩n de las filas y columnas que se desean seleccionar en el orden que aparecen en el objeto. Una notaci칩n familiar para los usuarios de Matlab. En un DataFrame cada una de las filas tiene un n칰mero que va desde 0 hasta el total de filas menos uno. Siendo iloc el m칠todo que permite seleccionar los datos en base a estos n칰meros. Lo mismo que aplica a las columnas.

En iloc hay dos argumentos filas y columnas. En caso de que se omita el segundo, se seleccionar치n todas las columnas de la fila. As칤 para seleccionar diferentes filas se puede utilizar.

In [ ]:
#seleccionamos un registro completo

In [ ]:
#un rango de registros con sliding

In [ ]:
# Registros de la primera columna (buscar dos rangos RAS)

In [ ]:
# El segundo argumento, en este caso el n칰mero 1, es la columna, aqu칤 no pasamos string si no posici칩n.

### Seleccionar filas y columnas en Pandas en base a etiquetas con loc
El m칠todo loc se puede usar de dos formas diferentes: seleccionar filas o columnas en base a una etiqueta o seleccionar filas o columnas en base a una condici칩n.

#### En base a etiqueta

####En base a una condici칩n
Quiz치s esta sea una de las opciones m치s interesantes de las vistas, ya que permite seleccionar los datos en un DataFrame en base condiciones l칩gicas. Las cuales se pueden obtener a partir de los valores

쯈ueremos meterle m치s de una doncidici칩n? let`s go!

Sintaxis del loc con varias condiciones
```python 
df.loc[(df["columna"] condici칩n) & (df["columna"] condici칩n)]
````

Misma operaci칩n, pero dame solo columnas concretas

### Buscamos valores nulos

In [ ]:
import seaborn as sns

#### 쮼s nulo?

#### 쮼s NO nulo?

#### Sacar una suma de los valores nulos de cada columna

###Borramos los valores nulos
Hay varias formas de hacerlo, tenemos en cuenta el par치metro "how" y, desde luego, [nos leemos la documentaci칩n](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.dropna.html).

In [ ]:
#Con "all" borramos donde TODOS los registros sean NaN

Con "any" (par치metro que viene by default as칤 que ojo con no poner nada) se borran todos los registros en los que en alguna columna haya un NaN

In [ ]:
# Si pongo axis 1 trabajo con columnas, por tanto, me cargar칠 aquellas columnas que tengan un solo NaN

### C칩mo rellenar los datos que faltan

쯈u칠 os parece un poquito de [documentaci칩n](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.fillna.html)?

##Borramos los duplicados

##ㅁgregaci칩n de datos
###GroupBy
GroupBy de Pandas es una funci칩n potente y vers치til en Python. Nos permite dividir sus datos en grupos separados para realizar c치lculos para un mejor an치lisis.
Un DataFrame puede agruparse en sus filas (eje=0) o en sus columnas (eje=1). Una vez hecho esto, se aplica una funci칩n a cada grupo, produciendo un nuevo valor. Finalmente, los resultados de todas esas aplicaciones de funciones se combinan en un objeto resultado. La forma del objeto resultante depender치 normalmente de lo que se haga con los datos.

https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.groupby.html

In [3]:
import numpy as np

In [4]:
df = pd.DataFrame({'key1' : ['a', 'a', 'b', 'b', 'a'], 'key2' : ['one', 'two', 'one', 'two', 'one'],'data1' : np.random.randn(5),'data2' : np.random.randn(5)})

In [5]:
df.head()

  key1 key2     data1     data2
0    a  one -1.982653  0.854640
1    a  two  1.597382 -0.934973
2    b  one -2.590220 -0.939963
3    b  two -1.674276 -1.022409
4    a  one -1.130585  1.437005

Supongamos que queremos calcular la media de la columna data1 utilizando las etiquetas de key1. Hay varias formas de hacerlo. Una es acceder a datos1 y llamar a groupby con la columna (una Serie) en key1.
Los datos (una Serie) han sido agregados seg칰n la clave de grupo, produciendo una nueva Serie que ahora est치 indexada por los valores 칰nicos de la columna clave1. El 칤ndice resultante tiene el nombre 'clave1' porque la columna DataFrame `df['clave1']` lo hizo.

####Me preguntar칠is 쯫 si quiero agrupar por m치s columnas?

Otra forma de groupby con sintaxis agg     
https://pandas.pydata.org/docs/reference/api/pandas.core.groupby.DataFrameGroupBy.aggregate.html

- mean
- sum
- count

In [ ]:
# Multiindex y aplanar un dataframe multiindex

### Uni칩n de Dataframes
- https://realpython.com/pandas-merge-join-and-concat/
- https://pandas.pydata.org/pandas-docs/stable/user_guide/merging.html


### Concat
Unimos dataframes a lo largo del eje 0 uno debajo de otro. Alinea las columnas por etiqueta.

In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv('https://raw.githubusercontent.com/justmarkham/DAT8/master/data/u.user',
                             sep='|', 
                             index_col='user_id')

In [ ]:
# Podemos concatenar uno al lado del otro pero tienen que tener el mismo n칰mero de filas

### Merge

[Merge()](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.merge.html) es m치s 칰til cuando se desea combinar filas que comparten datos.

In [ ]:
df1=pd.DataFrame({'lkey': ['k0', 'k1', 'k2'],
                   'B': [1, 2, 3]})

df2=pd.DataFrame({'rkey': ['k0', 'k1', 'k2'],
                   'B': [4, 6, 7]})

#Cuando no me coinciden los datos

In [ ]:
df1=pd.DataFrame({'lkey': ['k0', 'k1', 'k2'],
                   'B': [1, 2, 3]})

df2=pd.DataFrame({'rkey': ['k0', 'k1', 'k3'],
                   'B': [4, 6, 7]})

### Join
El join, a diferencia del merge, va a unir los dataframes y donde no haya registros en el "칤ndice" va a poner NaN

In [ ]:
uno=pd.DataFrame({'key': ['k0', 'k1', 'k2', 'k3', 'k4'],
                  'A': ['a0', 'a1', 'a2', 'a3', 'a4']})

otro=pd.DataFrame({'key': ['k0', 'k1', 'k2'],
                  'B': ['b0', 'b1', 'b2']})

##Spoiler fantasioso de ma침ana

https://plotly.com/python/bar-charts/

##Exportar datos

##M칠todos habituales de pandas
```python
df.head()                     # printea la cabeza, por defecto 5 filas
df.tail()                     # pritea la cola, por defecto 5 filas
df.describe()                 # descripcion estadistica
df.info()                     # informacion del df
df.info(memory_usage='deep')
df.columns                    # muestra columna
df.index                      # muestra indice
df.dtypes                     # muestra tipos de datos de las columnas
df.plot()                     # hace un grafico
df.hist()                     # hace un histograma
df.col.value_counts()         # cuenta los valores unicos de una columna
df.col.unique()               # muestra valores unicos de una columna
df.copy()                     # copia el df
df.drop()                     # elimina columnas o filas (axis=0,1)
df.dropna()                   # elimina nulos
df.fillna()                   # rellena nulos
df.shape                      # dimensiones del df
df._get_numeric_data()        # selecciona columnas numericas
df.rename()                   # renombre columnas
df.str.replace()              # reemplaza columnas de strings
df.astype(dtype='float32')    # cambia el tipo de dato
df.iloc[]                     # localiza por indice
df.loc[]                      # localiza por elemento
df.transpose()                # transpone el df
df.T
df.sample(n, frac)            # muestra del df
df.col.sum()                  # suma de una columna
df.col.max()                  # maximo de una columna
df.col.min()                  # minimo de una columna
df[col]                       # selecciona columna
df.col
df.isnull()                   # valores nulos
df.isna()
df.notna()                    # valores no nulos
df.drop_duplicates()          # eliminar duplicados
df.reset_index(inplace=True)  # resetea el indice y sobreescribe
```

## Resumen
Es tu turno 쯤u칠 hemos aprendido hoy?

## Further materials

* [Read the docs!](https://pandas.pydata.org/pandas-docs/stable/index.html)
* [Cheatsheet](https://pandas.pydata.org/Pandas_Cheat_Sheet.pdf)
* [Exercises to practice](https://github.com/guipsamora/pandas_exercises)
* [More on merge, concat, and join](https://realpython.com/pandas-merge-join-and-concat/#pandas-join-combining-data-on-a-column-or-index). And [even more!](https://pandas.pydata.org/pandas-docs/stable/user_guide/merging.html)
* [Materials by a friend of a friend Juan Huguet](https://github.com/juanhuguetgarcia/uib-aa-g1-material/tree/master/W1%20-%20Intro%20to%20python%20y%20pandas)