# Intro Python

![elgif](https://media.giphy.com/media/coxQHKASG60HrHtvkt/giphy.gif)

In [1]:
import this

The Zen of Python, by Tim Peters

Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Sparse is better than dense.
Readability counts.
Special cases aren't special enough to break the rules.
Although practicality beats purity.
Errors should never pass silently.
Unless explicitly silenced.
In the face of ambiguity, refuse the temptation to guess.
There should be one-- and preferably only one --obvious way to do it.
Although that way may not be obvious at first unless you're Dutch.
Now is better than never.
Although never is often better than *right* now.
If the implementation is hard to explain, it's a bad idea.
If the implementation is easy to explain, it may be a good idea.
Namespaces are one honking great idea -- let's do more of those!

```python
Lo bonito es mejor que lo feo.
Lo expl√≠cito es mejor que lo impl√≠cito.
Lo simple es mejor que lo complejo.
Lo complejo es mejor que lo complicado.
Lo plano es mejor que lo anidado.
Lo disperso es mejor que lo denso.
La legibilidad cuenta.
Los casos especiales no son tan especiales como para romper las reglas.
Aunque la practicidad gana a la pureza.
Los errores nunca deben pasar en silencio.
A menos que se silencien expl√≠citamente.
Ante la ambig√ºedad, rechaza la tentaci√≥n de adivinar.
Debe haber una -y preferiblemente s√≥lo una- forma obvia de hacerlo.
Aunque esa manera puede no ser obvia al principio, a menos que seas holand√©s.
Ahora es mejor que nunca.
Aunque nunca es mejor que *ahora mismo*.
Si la implementaci√≥n es dif√≠cil de explicar, es una mala idea.
Si la implementaci√≥n es f√°cil de explicar, puede ser una buena idea.
Los espacios de nombres son una gran idea, ¬°hagamos m√°s de ellos!
```

![otrogif](https://media.giphy.com/media/MT5UUV1d4CXE2A37Dg/giphy.gif)

<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Tipos-de-celdas-en-Jupyter-Notebook" data-toc-modified-id="Tipos-de-celdas-en-Jupyter-Notebook-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Tipos de celdas en Jupyter Notebook</a></span><ul class="toc-item"><li><span><a href="#Markdown" data-toc-modified-id="Markdown-1.1"><span class="toc-item-num">1.1&nbsp;&nbsp;</span>Markdown</a></span></li><li><span><a href="#C√≥digo" data-toc-modified-id="C√≥digo-1.2"><span class="toc-item-num">1.2&nbsp;&nbsp;</span>C√≥digo</a></span></li></ul></li><li><span><a href="#N√∫meros-enteros" data-toc-modified-id="N√∫meros-enteros-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>N√∫meros enteros</a></span></li><li><span><a href="#N√∫meros-reales-(floats)" data-toc-modified-id="N√∫meros-reales-(floats)-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>N√∫meros reales (floats)</a></span></li><li><span><a href="#Operaciones-b√°sicas" data-toc-modified-id="Operaciones-b√°sicas-4"><span class="toc-item-num">4&nbsp;&nbsp;</span>Operaciones b√°sicas</a></span></li><li><span><a href="#Strings-(cadenas-de-caracteres)" data-toc-modified-id="Strings-(cadenas-de-caracteres)-5"><span class="toc-item-num">5&nbsp;&nbsp;</span>Strings (cadenas de caracteres)</a></span></li><li><span><a href="#Casteo-en-Python" data-toc-modified-id="Casteo-en-Python-6"><span class="toc-item-num">6&nbsp;&nbsp;</span>Casteo en Python</a></span><ul class="toc-item"><li><span><a href="#Conversi√≥n-impl√≠cita" data-toc-modified-id="Conversi√≥n-impl√≠cita-6.1"><span class="toc-item-num">6.1&nbsp;&nbsp;</span>Conversi√≥n impl√≠cita</a></span></li><li><span><a href="#Conversi√≥n-expl√≠cita" data-toc-modified-id="Conversi√≥n-expl√≠cita-6.2"><span class="toc-item-num">6.2&nbsp;&nbsp;</span>Conversi√≥n expl√≠cita</a></span><ul class="toc-item"><li><span><a href="#Convertir-float-a-int" data-toc-modified-id="Convertir-float-a-int-6.2.1"><span class="toc-item-num">6.2.1&nbsp;&nbsp;</span>Convertir float a int</a></span></li><li><span><a href="#Convertir-un-float-en-un-string" data-toc-modified-id="Convertir-un-float-en-un-string-6.2.2"><span class="toc-item-num">6.2.2&nbsp;&nbsp;</span>Convertir un float en un string</a></span></li><li><span><a href="#Convertir-string-a-int" data-toc-modified-id="Convertir-string-a-int-6.2.3"><span class="toc-item-num">6.2.3&nbsp;&nbsp;</span>Convertir string a int</a></span></li></ul></li></ul></li><li><span><a href="#Entrada-y-salida-de-datos" data-toc-modified-id="Entrada-y-salida-de-datos-7"><span class="toc-item-num">7&nbsp;&nbsp;</span>Entrada y salida de datos</a></span><ul class="toc-item"><li><span><a href="#Input" data-toc-modified-id="Input-7.1"><span class="toc-item-num">7.1&nbsp;&nbsp;</span>Input</a></span></li><li><span><a href="#Print" data-toc-modified-id="Print-7.2"><span class="toc-item-num">7.2&nbsp;&nbsp;</span>Print</a></span></li></ul></li><li><span><a href="#Format" data-toc-modified-id="Format-8"><span class="toc-item-num">8&nbsp;&nbsp;</span>Format</a></span></li><li><span><a href="#Strings" data-toc-modified-id="Strings-9"><span class="toc-item-num">9&nbsp;&nbsp;</span>Strings</a></span><ul class="toc-item"><li><span><a href="#M√©todos-de-los-string" data-toc-modified-id="M√©todos-de-los-string-9.1"><span class="toc-item-num">9.1&nbsp;&nbsp;</span>M√©todos de los string</a></span></li></ul></li><li><span><a href="#Estructuras-de-datos" data-toc-modified-id="Estructuras-de-datos-10"><span class="toc-item-num">10&nbsp;&nbsp;</span>Estructuras de datos</a></span><ul class="toc-item"><li><span><a href="#Listas" data-toc-modified-id="Listas-10.1"><span class="toc-item-num">10.1&nbsp;&nbsp;</span>Listas</a></span><ul class="toc-item"><li><span><a href="#M√©todos-de-las-listas" data-toc-modified-id="M√©todos-de-las-listas-10.1.1"><span class="toc-item-num">10.1.1&nbsp;&nbsp;</span>M√©todos de las listas</a></span></li></ul></li><li><span><a href="#Tuples" data-toc-modified-id="Tuples-10.2"><span class="toc-item-num">10.2&nbsp;&nbsp;</span>Tuples</a></span></li><li><span><a href="#Sets" data-toc-modified-id="Sets-10.3"><span class="toc-item-num">10.3&nbsp;&nbsp;</span>Sets</a></span></li><li><span><a href="#Diccionarios" data-toc-modified-id="Diccionarios-10.4"><span class="toc-item-num">10.4&nbsp;&nbsp;</span>Diccionarios</a></span></li></ul></li><li><span><a href="#Resumen" data-toc-modified-id="Resumen-11"><span class="toc-item-num">11&nbsp;&nbsp;</span>Resumen</a></span></li></ul></div>

##¬†Tipos de celdas en Jupyter Notebook

###¬†Markdown

[As√≠ se ponen enlaces](https://www.google.com/)

### C√≥digo

In [5]:
hola = 234587
hola

234587

# Tipos de datos
## N√∫meros enteros

In [6]:
14 + 45

59

In [9]:
variable = 100

In [10]:
suma = variable + 125

In [11]:
suma2 = 254 + 15

In [12]:
variable2 = 154

In [13]:
suma3 = variable + variable2

In [14]:
type(suma3)

int

In [15]:
type(149186)

int

## N√∫meros reales (floats)

In [16]:
25.215

25.215

In [17]:
temp = 35.5

In [18]:
type(temp)

float

In [19]:
type(.4)

float

##¬†Operaciones b√°sicas

In [20]:
#¬†suma

In [21]:
3 + 7

10

In [22]:
#¬†resta
26-26

0

In [23]:
# multiplicaci√≥n
2157 * 25

53925

In [24]:
# divisi√≥n
2157/258

8.36046511627907

In [25]:
#¬†divisi√≥n entera
1407//14

100

In [26]:
#¬†m√≥dulo
5%3

2

In [27]:
# potencia
256 ** 3

16777216

In [28]:
#¬†redondea n√∫mero
round(262.474)

262

In [29]:
round(2376.374357, 2)

2376.37

In [30]:
import math

In [ ]:
# redondeo hacia abajo

In [31]:
math.floor(256246.2462)

256246

In [ ]:
# redondeo hacia arriba

In [32]:
math.ceil(2626.2626)

2627

In [34]:
#help(math)

##¬†Strings (cadenas de caracteres)

In [35]:
nombre = "pepe"

In [36]:
type(nombre)

str

In [37]:
#¬†Cuidado con las comillas
"""
Esto es un string
en el que puedo meter saltos de l√≠nea
"""

'\nEsto es un string\nen el que puedo meter saltos de l√≠nea\n'

In [50]:
" Esto es un 'string''''' "

" Esto es un 'string''''' "

In [39]:
'pero esto tambi√©n'

'pero esto tambi√©n'

In [48]:
string = 'Esto tambi√©n " es un string"'

In [51]:
string * 2

'Esto tambi√©n " es un string"Esto tambi√©n " es un string"'

In [52]:
string * 65.4

TypeError: can't multiply sequence by non-int of type 'float'

In [53]:
total = "un string" + "otro"

In [54]:
total

'un stringotro'

##¬†Casteo en Python

Casting significa convertir un tipo de datos en otro. Anteriormente hemos visto tipos como int, string o float. Pues bien, es posible convertir de un tipo a otro.
Pero antes de nada, veamos los diferentes tipos de cast o conversi√≥n de tipos que se pueden hacer. Hay dos:

**Conversi√≥n impl√≠cita:** Esto lo hace Python de forma autom√°tica. Ocurre cuando realizamos ciertas operaciones con dos tipos diferentes.

**Conversi√≥n expl√≠cita:** La hacemos nosotros expl√≠citamente, como por ejemplo convertir str en int con str().

### Conversi√≥n impl√≠cita
Esta conversi√≥n de tipos la realiza Python autom√°ticamente, pr√°cticamente sin que nos demos cuenta. Aun as√≠, es importante conocer lo que ocurre por debajo para evitar futuros problemas.

El ejemplo m√°s sencillo donde podemos ver este comportamiento es el siguiente:

In [57]:
a = 1 # es un entero
b = 3.2 # es un float
c = a + b
print(type(c))
print(type(b))
print(type(a))
print(c)

<class 'float'>
<class 'float'>
<class 'int'>
4.2

a es un int   
b es un float    
Pero si sumamos a y b y almacenamos el resultado en a, podemos ver c√≥mo internamente Python ha convertido el int a float para realizar la operaci√≥n, y la variable resultante es float.
Sin embargo, hay otros casos en los que Python no es tan inteligente y no es capaz de realizar la conversi√≥n. Si intentamos a√±adir un int a una cadena, obtendremos un TypeError.

In [58]:
hola = "hola"
b + hola

TypeError: unsupported operand type(s) for +: 'float' and 'str'

### Conversi√≥n expl√≠cita
Por otro lado, podemos realizar conversiones entre tipos o castings de forma expl√≠cita utilizando diferentes funciones que proporciona Python. Las m√°s utilizadas son las siguientes:

`float(), str(), int(), list(), set()`        
Y algunas otras como `hex(), oct() y bin(). `           
#### Convertir float a int 
Para convertir de float a int debemos utilizar int(). Pero cuidado, porque el tipo integer no puede almacenar decimales, por lo que perderemos lo que haya despu√©s del punto decimal.

In [63]:
int(256.8)

256

#### Convertir un float en un string
Podemos convertir un flotante en una cadena con str(). Podemos ver en el siguiente c√≥digo c√≥mo cambia el tipo de a despu√©s del cast.

In [60]:
str(6.4)

'6.4'

In [61]:
convert = str(26.26)
print(convert)
type(convert)

26.26

str

In [62]:
# Si multiplico convert por un n√∫mero lo que tengo es una multiplicaci√≥n de un string
convert * 3

'26.2626.2626.26'

In [64]:
num = "26.6"
num * 6

'26.626.626.626.626.626.6'

#### Convertir string a int
Al igual que la conversi√≥n a float anterior, podemos convertir de cadena a int utilizando int().

In [65]:
uno = "1"
int(uno)

1

##¬†Entrada y salida de datos
### Input
Para asignar una variable a un valor introducido por el usuario en la consola, utilice la instrucci√≥n      
``python
input(mensaje) : Muestra el mensaje de la cadena por el terminal y devuelve una cadena con la entrada 
  ```

In [66]:
dato = input("Introduce un n√∫mero. ")

Introduce un n√∫mero. 2569

In [67]:
type(dato)

str

In [68]:
otrodato = int(input("Introduce un n√∫mero "))

Introduce un n√∫mero 262

In [71]:
print(otrodato)
print(type(otrodato))

262
<class 'int'>

In [72]:
elusuario = int(input("Introduce un n√∫mero "))

Introduce un n√∫mero sdgkljsag

ValueError: invalid literal for int() with base 10: 'sdgkljsag'

###¬†Print
La funci√≥n print() imprime el mensaje especificado en la pantalla, o en otro dispositivo de salida est√°ndar.

El mensaje puede ser una cadena, o cualquier otro objeto, el objeto ser√° convertido en una cadena antes de ser escrito en la pantalla.

In [73]:
var = "hola"
var2 = 154

In [74]:
print(var,var2)

hola 154

In [75]:
elprint = print(var,var2)

hola 154

In [77]:
type(elprint)

NoneType

## Format

In [82]:
print("Hola qu√© tal", var2, "otra cosa")

Hola qu√© tal 154 otra cosa

In [79]:
print(f"Hola qu√© tal {var2}")

Hola qu√© tal 154

In [80]:
nombres = ["Ras", "Sonia", "Ana"]

In [81]:
for nombre in nombres:
    print(f"Hola {nombre}")

Hola Ras
Hola Sonia
Hola Ana

## Strings

In [83]:
otracadena = "Hola, soy Ras y estamos aprendiendo python"

In [85]:
type(otracadena)

str

In [86]:
otracadena + "otracosa"

'Hola, soy Ras y estamos aprendiendo pythonotracosa'

In [87]:
# check contains
"s" in otracadena

True

In [88]:
# check contains
"Ras" in otracadena

True

In [89]:
# check contains
"loquesea" in otracadena

False

### M√©todos de los string
Los m√©todos son acciones o funciones que puede realizar un objeto. Al igual que Python ofrece una serie de funciones ‚Äúbuilt-in‚Äù, tambi√©n pone a nuestra disposici√≥n un conjunto de m√©todos ya creados. Estos m√©todos dependen del tipo de objeto con el que estemos trabajando.

In [91]:
#help(str)

In [93]:
len(otracadena)

42

Vamos a explicar en clase algunos de los m√©todos m√°s utilizados durante el bootcamp, tened en cuenta que ten√©is que tener siempre presente la [documentaci√≥n](https://docs.python.org/3/library/stdtypes.html#string-methods)

In [104]:
frase = "ras mola, hola qu√© tal"

`capitalize` Devuelve una copia de la cadena con su primer car√°cter en may√∫sculas y el resto en min√∫sculas.

In [95]:
"string".capitalize()

'String'

In [97]:
frase.capitalize()

'Ras mola, hola qu√© tal'

`upper` Devuelve una copia de la cadena con todos los caracteres en may√∫sculas

In [98]:
frase.upper()

'RAS MOLA, HOLA QU√â TAL'

In [99]:
print(frase.upper())

RAS MOLA, HOLA QU√â TAL

In [101]:
frase_mayus = frase.upper()

`isupper` Devuelve True si todos los caracteres en may√∫scula de la cadena son may√∫sculos y hay al menos un car√°cter en may√∫scula, False en caso contrario.

In [105]:
frase.isupper()

False

In [106]:
frase_mayus.isupper()

True

`lower` Devuelve una copia de la cadena con los caracteres en min√∫sculas

In [107]:
frase_mayus.lower()

'ras mola, hola qu√© tal'

`islower` Es como isupper pero....comprobamos las min√∫sculas

In [109]:
frase.capitalize().isupper()

False

`swapcase` Devuelve una copia de la cadena con los caracteres en may√∫sculas convertidos a min√∫sculas y viceversa.

In [110]:
loca = "HolA Qu√â TaL"

In [111]:
loca.swapcase()

'hOLa qU√© tAl'

In [115]:
variable = frase.swapcase().isupper()

In [116]:
variable

True

`title` Devuelve una versi√≥n en may√∫sculas de la cadena en la que las palabras comienzan con un car√°cter en may√∫scula y el resto de caracteres en min√∫scula.

In [117]:
frase.title()

'Ras Mola, Hola Qu√© Tal'

`join(iterable)`

Devuelve una cadena que es la concatenaci√≥n de las cadenas en iterable. Se producir√° un TypeError si hay alg√∫n valor que no sea una cadena en el iterable, incluyendo objetos bytes. El separador entre elementos es la cadena que proporciona este m√©todo.

In [119]:
lst=['hola', 'estamos', 'en', 'clase']

In [120]:
" ".join(lst)

'hola estamos en clase'

In [121]:
"üöÄ".join(lst)

'holaüöÄestamosüöÄenüöÄclase'

In [122]:
encadenado = " ".join(lst)

In [123]:
encadenado

'hola estamos en clase'

`startswith` Devuelve True si la cadena comienza con el prefijo, en caso contrario devuelve False. prefijo tambi√©n puede ser una tupla de prefijos a buscar. Con start opcional, comprueba la cadena que empieza en esa posici√≥n. Con end opcional, deja de comparar la cadena en esa posici√≥n.

In [124]:
encadenado

'hola estamos en clase'

In [125]:
encadenado.startswith("h")

True

In [126]:
encadenado.startswith("hola ")

True

In [127]:
encadenado.startswith("holi")

False

`endswith`Devuelve True si la cadena termina con el sufijo especificado, en caso contrario devuelve False.

In [128]:
encadenado.endswith("e")

True

In [129]:
encadenado.endswith("eaflkj")

False

`str.lstrip([chars])`
Devuelve una copia de la cadena con los caracteres iniciales eliminados. El argumento chars es una cadena que especifica el conjunto de caracteres a eliminar. Si se omite o no hay ninguno, el argumento chars elimina por defecto los espacios en blanco. El argumento chars no es un prefijo, sino que se eliminan todas las combinaciones de sus valores:

In [130]:
ejemplo = "       strings con espacios      "

In [131]:
ejemplo.strip()

'strings con espacios'

`lstrip` y `rstrip` hacen lo mismo pero con los espacios del principio y del final

In [132]:
ejemplo.lstrip()

'strings con espacios      '

In [133]:
ejemplo.rstrip()

'       strings con espacios'

In [135]:
ejemplo.strip().lstrip("str")

'ings con espacios'

In [136]:
ejemplo.strip().lstrip("ltr")

'strings con espacios'

In [137]:
ejemplo

'       strings con espacios      '

In [139]:
ejemplo.lstrip("str") # tiene que hacer match exacto lo que queremos eliminar, ojo

'       strings con espacios      '

`str.replace(old, new[, count])`     
Devuelve una copia de la cadena con todas las ocurrencias de la subcadena old reemplazadas por new. Si se da el argumento opcional count, s√≥lo se reemplazan las primeras ocurrencias de count.

In [140]:
# Reemplazamos espacios por nada

In [141]:
ejemplo.replace(" ", "")

'stringsconespacios'

In [142]:
ejemplo.strip().replace(" ", "-")

'strings-con-espacios'

In [152]:
ejemplo.replace("s", "a", 1)

'       atrings con espacios      '

In [153]:
ejemplo.replace("s", "a", 3).strip()

'atringa con eapacios'

`str.split(sep=None, maxsplit=- 1)`     
Devuelve una lista de las palabras de la cadena, utilizando sep como cadena delimitadora. Si se da maxsplit, se realizan como m√°ximo maxsplit splits (por tanto, la lista tendr√° como m√°ximo maxsplit+1 elementos). Si no se especifica maxsplit o es -1, no hay l√≠mite en el n√∫mero de divisiones (se realizan todas las divisiones posibles).

In [157]:
ejemplo.split()

['strings', 'con', 'espacios']

In [163]:
# Split con argumentos

In [158]:
variable_con_guiones = ejemplo.strip().replace(" ", "-")

In [164]:
variable_con_guiones.split("-")

['strings', 'con', 'espacios']

In [167]:
loguardo = ejemplo.split(" ")
print(loguardo)

['', '', '', '', '', '', '', 'strings', 'con', 'espacios', '', '', '', '', '', '']

In [169]:
len(loguardo)

16

In [170]:
ejemplo.split("s", 3)

['       ', 'tring', ' con e', 'pacios      ']

In [179]:
probamos = """
esto era un string
con saltos de l√≠nea
"""

In [182]:
probamos

'\nesto era un string\ncon saltos de l√≠nea\n'

In [181]:
" ".join(probamos.split("\n")).strip()

'esto era un string con saltos de l√≠nea'

##¬†Estructuras de datos
Hay 4 elementos en python que nos permiten almacenar colecciones de datos. 
- Listas
- Tuplas
- Sets
- Diccionarios
### Listas

Las listas pueden contener diferentes tipos de datos

In [185]:
nombres = ["Ana", "Sonia", "Ras", "Alumnado"]
cosas = [True, "Texto", "üöÄ", 3, 4.26, {"hola": "qu√© tal"}]

In [184]:
type(nombres)

list

In [186]:
type(cosas)

list

In [187]:
nombres

['Ana', 'Sonia', 'Ras', 'Alumnado']

####¬†M√©todos de las listas      
`append` Agrega un √≠tem al final de la lista.

In [188]:
nombres.append("Pepe")

In [189]:
nombres

['Ana', 'Sonia', 'Ras', 'Alumnado', 'Pepe']

`extend` Extiende la lista agreg√°ndole todos los √≠tems del iterable

In [190]:
cosas = ["üöÄ", "üî•", "üêß"]

In [191]:
nombres.extend(cosas)

In [192]:
nombres

['Ana', 'Sonia', 'Ras', 'Alumnado', 'Pepe', 'üöÄ', 'üî•', 'üêß']

`insert` Inserta un √≠tem en una posici√≥n dada. El primer argumento es el √≠ndice del √≠tem delante del cual se insertar√°, por lo tanto a.insert(0, x) inserta al principio de la lista y a.insert(len(a), x) equivale a a.append(x).

In [193]:
nombres.insert(2, "Dobby")

In [194]:
nombres

['Ana', 'Sonia', 'Dobby', 'Ras', 'Alumnado', 'Pepe', 'üöÄ', 'üî•', 'üêß']

In [195]:
nombres.append(cosas)

In [197]:
print(nombres)

['Ana', 'Sonia', 'Dobby', 'Ras', 'Alumnado', 'Pepe', 'üöÄ', 'üî•', 'üêß', ['üöÄ', 'üî•', 'üêß']]

In [203]:
type(nombres[9])

list

`remove` Quita el primer √≠tem de la lista cuyo valor sea x. Lanza un ValueError si no existe tal √≠tem.

In [209]:
nombres[8].remove("üêß")

In [206]:
nombres.remove("hola")

ValueError: list.remove(x): x not in list

In [210]:
nombres

['Ana', 'Sonia', 'Dobby', 'Ras', 'Alumnado', 'Pepe', 'üöÄ', 'üî•', ['üöÄ', 'üî•']]

`pop` Quita el √≠tem en la posici√≥n dada de la lista y lo retorna. Si no se especifica un √≠ndice, a.pop() quita y retorna el √∫ltimo elemento de la lista.

In [211]:
nombres.pop()

['üöÄ', 'üî•']

In [212]:
elpop = nombres.pop()

In [213]:
elpop

'üî•'

In [215]:
nombres.pop(0)

'Ana'

In [216]:
nombres

['Sonia', 'Dobby', 'Ras', 'Alumnado', 'Pepe', 'üöÄ']

In [219]:
lista_ejemplo = ["hola", None, 123, 426,26,2,1,3,5,6,432,3,7]

In [222]:
lista_ejemplo.remove("hola", None) #¬†TYperror solo podemos eliminar de 1 en 1

TypeError: remove() takes exactly one argument (2 given)

In [225]:
#help(lst)

`clear` Elimina todos los elementos de la lista

In [217]:
listatonta = ["a"]

In [218]:
listatonta

['a']

In [226]:
listatonta.clear()

In [228]:
type(listatonta)

list

In [229]:
listatonta

[]

`count` Retorna el n√∫mero de veces que x aparece en la lista.

In [231]:
nombres.count("Sonia")

1

In [230]:
lista_ejemplo.count(3)

2

`list.sort(*, key=None, reverse=False)`
Ordena los elementos de la lista in situ (los argumentos pueden ser usados para personalizar el orden de la lista, ver [sorted()](https://docs.python.org/es/3/library/functions.html#sorted) para su explicaci√≥n).

In [237]:
nombres.sort()

In [241]:
nums = [1,2,3,4,5,7,2,7,2,7,32,78,6,43,2]
nums.sort()
print(nums)

[1, 2, 2, 2, 2, 3, 4, 5, 6, 7, 7, 7, 32, 43, 78]

In [238]:
nombres

['Alumnado', 'Dobby', 'Pepe', 'Ras', 'Sonia', 'üöÄ']

`list.reverse()`
Invierte los elementos de la lista in situ.

In [239]:
nombres.reverse()

In [240]:
nombres

['üöÄ', 'Sonia', 'Ras', 'Pepe', 'Dobby', 'Alumnado']

`slicing` No es un m√©todo como tal, pero podemos jugar con los elementos de las listas y sus posiciones

In [245]:
nombres

['üöÄ', 'Sonia', 'Ras', 'Pepe', 'Dobby', 'Alumnado']

In [242]:
nombres[0]

'üöÄ'

In [243]:
nombres[0:3]

['üöÄ', 'Sonia', 'Ras']

In [244]:
nombres[0:5:2]

['üöÄ', 'Ras', 'Dobby']

In [246]:
nombres[::-1]

['Alumnado', 'Dobby', 'Pepe', 'Ras', 'Sonia', 'üöÄ']

### Tuples

Las tuplas en Python son un tipo o estructura de datos que permite almacenar datos de una manera muy parecida a las listas, con la salvedad de que son inmutables. As√≠ que no podremos: 
 - cambiar sus entradas
 - a√±adir nuevos valores

In [247]:
tupla = (44, 55, 98, 23, 22, 21, 3)

In [248]:
type(tupla)

tuple

In [249]:
list(tupla)

[44, 55, 98, 23, 22, 21, 3]

In [250]:
tupla[3]

23

In [251]:
tupla.append(15)

AttributeError: 'tuple' object has no attribute 'append'

In [252]:
guardar = list(tupla)

In [253]:
type(guardar)

list

In [254]:
guardar

[44, 55, 98, 23, 22, 21, 3]

In [258]:
tupla * 2

(44, 55, 98, 23, 22, 21, 3, 44, 55, 98, 23, 22, 21, 3)

In [259]:
tuplaotra = tupla + tupla

In [261]:
tuplaotra

(44, 55, 98, 23, 22, 21, 3, 44, 55, 98, 23, 22, 21, 3)

Ventajas de las tuplas 
 * M√°s r√°pido
 * Los datos no pueden ser modificados
 
Tambi√©n es posible que utilicemos tuplas cuando queramos devolver m√∫ltiples valores en el `return` de una funci√≥n

In [255]:
def sumaresta(a,b):
    return a+b, a-b

In [256]:
sumaresta(8,3)

(11, 5)

In [263]:
resultado = sumaresta(8,3)
resultado[0]

11

In [264]:
resultado[1]

5

### Sets
Los conjuntos se utilizan para almacenar m√∫ltiples elementos en una sola variable. A diferencia de las listas, contienen elementos √∫nicos y no tienen un orden.

In [265]:
lista = [1,2,3,56,78,65,43,35,7,43,2,1,2,3,5,6,7,89,98,543,2,2,4,5]

In [266]:
set(lista)

{1, 2, 3, 4, 5, 6, 7, 35, 43, 56, 65, 78, 89, 98, 543}

In [268]:
guardo_set = set(lista)

In [270]:
type(guardo_set)

set

`add` A√±ade un elemento al set

In [275]:
otroset = {()}

In [277]:
vacio = {} #Ojo, estoy creando un diccionario vac√≠o

In [278]:
type(vacio)

dict

In [279]:
type(otroset)

set

`clear` Borra todos los elementos del set

In [281]:
otro = {"a"}

In [282]:
otroset.clear()

In [284]:
otroset

set()

`copy` Devuelve una copia del conjunto

In [285]:
guardo = otro.copy()

In [286]:
guardo

{'a'}

`difference()` Devuelve un conjunto que contiene la diferencia entre dos o m√°s conjuntos. Realmente lo que devuelve son los elementos que est√°n √öNICAMENTE en el primer set.

In [297]:
set1 = {1,24,4,5,67,8,9,5,42,4,6,7}
set2 = {1,24,4,5,67,6,1,4}

In [298]:
set1.difference(set2)

{7, 8, 9, 42}

In [307]:
set1

{1, 5, 6, 7, 8, 9, 42, 67}

`discard` Elimina el elemento especificado

In [299]:
set1

{1, 4, 5, 6, 7, 8, 9, 24, 42, 67}

In [300]:
set1.discard(24)

In [301]:
set1

{1, 4, 5, 6, 7, 8, 9, 42, 67}

`remove` Elimina el elemento especificado

In [303]:
set1.remove(4)

In [304]:
set1

{1, 5, 6, 7, 8, 9, 42, 67}

`intersection()` Devuelve un conjunto que es la intersecci√≥n de dos o m√°s conjuntos

In [312]:
set1.intersection(set2)

{1, 5, 6, 67}

`issubset` Devuelve si otro conjunto contiene este conjunto o no

In [315]:
set3 = {1, 5, 6, 7}

In [313]:
set1.issubset(set2)

False

In [316]:
set3.issubset(set1)

True

`issuperset` Devuelve si este conjunto contiene a otro conjunto o no

In [317]:
set1.issuperset(set3)

True

In [318]:
set2.issuperset(set1)

False

`pop` Elimina un elemento del conjunto. Elimina el √∫ltimo elemento de un conjunto y, adem√°s, nos lo devuelve. Diferenciua de las listas que no tiene par√°metros para pasarle un √≠ndice

In [319]:
set1.pop()

1

`union` Devuelve un conjunto que contiene la uni√≥n de conjuntos

In [321]:
set1.union(set2)

{1, 4, 5, 6, 7, 8, 9, 24, 42, 67}

In [323]:

a = {1,2,3}
b = {4,5,6}

In [324]:
a.union(b)

{1, 2, 3, 4, 5, 6}

In [328]:
variable = a.union(b)

`update` Actualiza el conjunto con otro conjunto, o cualquier otro iterable

In [325]:
a.update(b)

In [329]:
a.update([1,2,3])

In [333]:
a.update("hola")

In [334]:
print(a)

{1, 2, 3, 4, 5, 6, 'h', 'l', 'o', 'a'}

### Diccionarios

In [365]:
#Una lista no es para almacenar este tipo de informaci√≥n, har√≠amos un diccionario
mal = ["Ras", 34, "Madrid", "Dobby"]

In [366]:
ras = {"nombre": "Ras", "edad": 34, "mascota" :"Dobby", "amigos": ["Ana", "Sonia", "Alumnado"], "elemento": [{"fijo": None, "m√≥vil": 633367730}]}

In [367]:
print(ras)

{'nombre': 'Ras', 'edad': 34, 'mascota': 'Dobby', 'amigos': ['Ana', 'Sonia', 'Alumnado'], 'elemento': [{'fijo': None, 'm√≥vil': 633367730}]}

In [368]:
ras

{'nombre': 'Ras',
 'edad': 34,
 'mascota': 'Dobby',
 'amigos': ['Ana', 'Sonia', 'Alumnado'],
 'elemento': [{'fijo': None, 'm√≥vil': 633367730}]}

In [369]:
undiccionario = {3: "value"}

In [370]:
undiccionario

{3: 'value'}

`clear` Elimina todos los elementos del diccionario

In [371]:
ras2 = ras.copy()

In [372]:
ras2.clear()

In [373]:
ras2

{}

`items()` Devuelve una lista que contiene una tupla por cada par clave-valor

In [374]:
ras.items()

dict_items([('nombre', 'Ras'), ('edad', 34), ('mascota', 'Dobby'), ('amigos', ['Ana', 'Sonia', 'Alumnado']), ('elemento', [{'fijo': None, 'm√≥vil': 633367730}])])

In [375]:
melaguardo = list(ras.items())

In [376]:
melaguardo

[('nombre', 'Ras'),
 ('edad', 34),
 ('mascota', 'Dobby'),
 ('amigos', ['Ana', 'Sonia', 'Alumnado']),
 ('elemento', [{'fijo': None, 'm√≥vil': 633367730}])]

`keys` Devuelve una lista con las claves del diccionario

In [377]:
ras.keys()

dict_keys(['nombre', 'edad', 'mascota', 'amigos', 'elemento'])

`values` Devuelve una lista de todos los valores del diccionario

In [378]:
ras.values()

dict_values(['Ras', 34, 'Dobby', ['Ana', 'Sonia', 'Alumnado'], [{'fijo': None, 'm√≥vil': 633367730}]])

`pop()` Elimina el elemento con la clave especificada. Me devuelve el value.

In [379]:
ras.pop("elemento")

[{'fijo': None, 'm√≥vil': 633367730}]

In [380]:
ras

{'nombre': 'Ras',
 'edad': 34,
 'mascota': 'Dobby',
 'amigos': ['Ana', 'Sonia', 'Alumnado']}

`popitem` Elimina el √∫ltimo par clave-valor insertado

In [381]:
ras.popitem()

('amigos', ['Ana', 'Sonia', 'Alumnado'])

In [382]:
ras

{'nombre': 'Ras', 'edad': 34, 'mascota': 'Dobby'}

`setdefault` Devuelve el valor de la clave especificada. Si la clave no existe: inserta la clave, con el valor especificado. Si la clave no existe y no se le indica valor, lo pone a "None"

In [383]:
ras.setdefault("amigos")

In [384]:
ras

{'nombre': 'Ras', 'edad': 34, 'mascota': 'Dobby', 'amigos': None}

In [385]:
ras.setdefault("nombre")

'Ras'

In [386]:
ras.setdefault("otra", [1, 3])

[1, 3]

In [387]:
ras["otra"]

[1, 3]

In [388]:
ras.setdefault("otrakeym√°s", " ")

' '

In [391]:
ras.setdefault("otrakeym√°s", "Hola")

' '

In [392]:
ras

{'nombre': 'Ras',
 'edad': 34,
 'mascota': 'Dobby',
 'amigos': None,
 'otra': [1, 3],
 'otrakeym√°s': ' ',
 'trabajo': 'Ironhack'}

`update` Updates the dictionary with the specified key-value pairs

In [389]:
ras.update({"trabajo": "Ironhack"})

In [390]:
ras

{'nombre': 'Ras',
 'edad': 34,
 'mascota': 'Dobby',
 'amigos': None,
 'otra': [1, 3],
 'otrakeym√°s': ' ',
 'trabajo': 'Ironhack'}

In [ ]:
#¬†Otra forma de a√±adir un item a un diccionario

In [394]:
ras["a√±adimosel√∫ltimo"] = 26246

In [395]:
ras

{'nombre': 'Ras',
 'edad': 34,
 'mascota': 'Dobby',
 'amigos': None,
 'otra': [1, 3],
 'otrakeym√°s': ' ',
 'trabajo': 'Ironhack',
 'a√±adimosel√∫ltimo': 26246}

In [401]:
variable = "tienesraz√≥njoder"

In [404]:
intentamos = 5 + 4

In [402]:
ras[variable] = "otracosa"

In [405]:
ras[intentamos] = "lasuma"

In [408]:
## Otra forma para obtener el VALUE DE UNA KEY ES .get()

In [409]:
ras.get(9)

'lasuma'

## Resumen
Es tu turno ¬øqu√© hemos aprendido hoy?

- Listas, tuplas, sets, diccionarios
- Tipos de celda en un jupyter
- Tipos de datos
- Casteo (convertir unos tipos de datos en otros)
- Input (pide datos al usuario) y siempre recibe un string
- Librer√≠as (ya las veremos) trozos de c√≥digo escritos por alguien m√°s freak que nosotros (de momento)
- Help nos ayuda con los m√©todos de los tipos de datos
- Format (me permite "formatear" una variable en un string)
- Los sets aunque no se usen mucho. 
- Tupla es INMUTABLE
- La estructura del diccionario {"llave": "valor"}
- Los diccionarios son la hostia/ostia.
- M√âTODOS de los tipos de datos
- La semana que viene üêº